
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/dashboard">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des bons de commande</h3>
  </div>

  <div class="row" style="margin-top: 10px;">

    <div class="col-md-2" style="margin-top: 10px;margin-left: 20px;">
      <h4>Rechercher</h4>
    </div>
    <div class="col-md-3">
      <input type="text"    [(ngModel)]="searchText"  id="search"  class="form-control" mdbInput/>
    </div>
    <ng-template [ngxPermissionsOnly]="[roles['SA'], roles['A']]">
    <div class="col-md-3" style="float: right;color: white;"> <a type="button" class="btn btn-info" routerLink="/start/ajouter-commande"> Saisir un BC  <i class="fa fa-plus"></i></a></div>
    </ng-template>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table   mdbTable class="z-depth-1"  #tableEl="mdbTable" striped="true"  >
      <thead>
      <tr>
        <th  style="text-align: center" *ngFor="let head of headElements ; let i = index"> {{head}} </th>
      </tr>
      </thead>
      <tbody>

      <tr *ngIf="totalcommande === 0">
        <td colspan="7" style="text-align: center">Aucune données disponible</td>
      </tr>

      <tr  *ngFor="let el of elements; let i = index">
        <td style="text-align: center"  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >{{i+1}}</td>
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.date_BC | date: "dd/MM/yyyy"}}</td>
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.numero_BC}}</td>
<!--        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.fournisseur}}</td>-->
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.date_lvraison_prevue | date: "dd/MM/yyyy"}}</td>
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.montant_ttc | number:'':'fr-FR' }}</td>
        <!-- <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><span class="badge badge-info">DA approuvé</span></td> -->
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">

          <button target="_blank" style="font-size: 10px;margin-right: 1%;"  class="btn btn-warning"  (click)="voirdetailcommande(el.id)"  >
            <i class="fa fa-eye"></i>
          </button>


          <ng-template [ngxPermissionsOnly]="[roles['SA'], roles['A']]">
            <button *ngIf="el.is_receptionne===0" style="font-size: 10px;margin-right: 1%;"  class="btn btn-primary"  (click)="ModifierCommande(el.id)"   >
              <i class="fa fa-edit"></i>
            </button>
          </ng-template>


          <ng-template [ngxPermissionsOnly]="[roles['SA'], roles['A']]">
          <button *ngIf="el.is_receptionne===0" style="font-size: 10px;"  class="btn btn-danger"  (click)="AnnulerCommande(el.id)" >
            <i class="fa fa-ban"></i>
          </button>
          </ng-template>

        </td>
      </tr>


      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
                <td colspan="8">
                  <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
