<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6" *ngIf="commandeService.selectedCommande">
        <h1 class="m-0 text-dark">Réception pour la {{secondlevel}} : <span style="color: red;"> <b>{{commandeService.selectedCommande.numero_BC}}</b> </span></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/receptions">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>




<div class="row">
  <div class="col-12 col-sm-12 col-lg-12">

<mat-horizontal-stepper  #stepper>

  <mat-step label="Réception">
    <div class="container-fluid" *ngIf="commandeService.selectedCommande">
      <div class="row"  id="component1">
        <div class="col-12">
          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <img src="../../../../assets/img/logo_logicSA.jpg" height="62" width="120"/>
                  <small class="float-right">Date: {{commandeService.selectedCommande.date_BC | date: "dd/MM/yyyy"}}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                DE
                <address>
                  <strong>LOGIQ SA</strong><br>
                  SA au capital de 1 000 000 000 FCFA<br>
                  Siège Social Ouagadougou<br>
                  RCCM : BF OUA 2017 M 6955<br>
                  Tel : +226 77 09 64 68
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                A
                <address>
                  <strong> {{ commandeService.selectedCommande.fournisseur}}</strong><br>
                  Téléphone : {{ commandeService.selectedCommande.telephone_fournisseur }}<br>
                  Adresse :  {{ commandeService.selectedCommande.adresse_fournisseur }}<br>
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <b class="pull-right">Date: {{ curDate | date: "dd/MM/yyyy" }}</b>
                <br>
                <b>BON DE RECEPTION:&nbsp; N° </b> :<input type="text" autocomplete="off" name="numeroReception" [(ngModel)]="numeroReception" disabled/><br>
                <b> COMMANDE N° :  </b>  {{ commandeService.selectedCommande.numero_BC }}<br>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">

              <div class="col-lg-3">

                <form
                  class="form-horizontal"
                  #commandeForm="ngForm"
                  autocomplete="off"
                >

                  <!--              <mat-form-field >-->
                  <!--                <mat-label >Date</mat-label>-->
                  <!--                <input  [value]="thedate" [(ngModel)]="dateRC" name="dateRC" matInput [matDatepicker]="myPicker1" placeholder="Date RC" >-->
                  <!--                <mat-datepicker-toggle  matSuffix [for]="myPicker1"></mat-datepicker-toggle>-->
                  <!--                <mat-datepicker #myPicker1></mat-datepicker>-->
                  <!--              </mat-form-field>-->

                  <mat-form-field>
                    <mat-label >Livreur</mat-label>
                    <input matInput type="text" [(ngModel)]="livreur"  name="livreur"  >
                  </mat-form-field>

                  &nbsp;

                </form>
              </div>


              <div class="col-lg-3">

                <form
                  class="form-horizontal"
                  #commandeForm="ngForm"
                  autocomplete="off"
                >

                  <mat-form-field>
                    <mat-label >Numéro Pièce</mat-label>
                    <input matInput type="text" [(ngModel)]="numeroPieceFournisseur"  name="numeroPieceFournisseur"  >
                  </mat-form-field>

                  &nbsp;

                </form>
              </div>

              <div class="col-lg-3">

                <form
                  class="form-horizontal"
                  #commandeForm="ngForm"
                  autocomplete="off"
                >
                  &nbsp;

                  <mat-form-field>
                    <mat-label >Téléphone Livreur</mat-label>
                    <input matInput type="text" [(ngModel)]="telephoneLivreur"  name="telephoneLivreur"  >
                  </mat-form-field>

                  &nbsp;

                </form>

              </div>


              <div class="col-lg-3">

                <form
                  class="form-horizontal"
                  #commandeForm="ngForm"
                  autocomplete="off"
                >

                  <div class="example-container">
                    <mat-form-field>
                      <mat-select  [(value)]="selectedtypereception" (selectionChange)="GetReceptionState($event.value)" placeholder="Choisir le type de réception">
                        <mat-option>Aucune</mat-option>
                        <mat-option  *ngFor="let tyR of typereceptions" value="{{tyR.value}}" >{{tyR.viewValue}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!--            <mat-form-field>-->
                  <!--              <mat-label >Imm. véhicule</mat-label>-->
                  <!--              <input matInput type="text" [(ngModel)]="immatriculation"  name="immatriculation"  >-->
                  <!--            </mat-form-field>-->

                  &nbsp;


                </form>

              </div>

            </div>

            <div class="row" *ngIf="showModifierDetail">
              <form class="form-inline" #detailReceptionForm="ngForm">
                <div class="form-group mr-2">

                  <div class="form-group mr-2">
                    <!-- <label class="sr-only" for="inputquantite">Quantité</label> -->
                    <input
                      type="text"
                      class="form-control"
                      name="thearticle"
                      [(ngModel)]="thearticle"
                      [readOnly]="true"
                    />
                  </div>
                  <!-- <label class="sr-only" for="inputEmail">Email</label> -->
                  <!--              <select-->
                  <!--                name="article"-->
                  <!--                class="form-control"-->
                  <!--                style="width: 100%;"-->
                  <!--                tabindex="0"-->
                  <!--                aria-hidden="true"-->
                  <!--                [(ngModel)]="article"-->
                  <!--                readonly="readonly"             >-->
                  <!--                <option value="-1" disabled="true" [selected]="true"-->
                  <!--                >Sélectionner un article</option-->
                  <!--                >-->

                  <!--                &lt;!&ndash; <option [ngValue]="null">Sélectionner un article</option> &ndash;&gt;-->
                  <!--                <option-->
                  <!--                  [ngValue]="article.id"-->
                  <!--                  *ngFor="let article of articleService.listArticles"-->
                  <!--                >{{ article.libelle_article }}</option-->
                  <!--                >-->
                  <!--              </select>-->
                </div>
                <div class="form-group mr-2">
                  <!-- <label class="sr-only" for="inputquantite">Quantité</label> -->
                  <input
                    type="number"
                    class="form-control"
                    id="inputquantite"
                    placeholder="quantite"
                    name="quantite"
                    [(ngModel)]="quantite"
                    required
                  />
                </div>
                <!-- <div class="form-group mr-2">
                  <input
                    type="number"
                    class="form-control"
                    id="inputpu"
                    placeholder="PU"
                    name="PU"
                    [(ngModel)]="prixUnitaire"
                    required
                  />
                </div> -->

                <button
                  type="submit"
                  class="btn btn-primary btn-md"
                  (click)="modifierLaLigneDetail()"
                  [disabled]="detailReceptionForm.invalid"
                >
                  <i class="fa fa-plus"></i>
                  &nbsp; Modifier
                </button>
              </form>
            </div>

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th class="text-left">REFERENCE</th>
                    <th class="text-left">DESIGNATION</th>
                    <th class="text-center">UNITE</th>
                    <th class="text-right">QUANTITE COMMANDE</th>
                    <th class="text-right">QUANTITE A RECEPTIONNEE</th>
                    <th class="text-center" *ngIf="getreceptionstate==true">ACTION</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let detailsreception of aticlesLivres">
                    <td class="text-left">{{ detailsreception.reference }}</td>
                    <td class="text-left">{{ detailsreception.article }}</td>
                    <td class="text-center">{{ detailsreception.unite }}</td>
                    <td class="text-right">{{ detailsreception.quantite }}</td>
                    <td class="text-right">{{detailsreception.quantite_receptionnee}}</td>
                    <td class="text-center" *ngIf="getreceptionstate==true && detailsreception.quantite_receptionnee != 0"><button class="btn btn-warning"  style="font-size: 10px" (click)="showModificationDetailReception(detailsreception)"  ><i class="fa fa-edit"></i></button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">

              <!-- /.col -->
              <div class="col-6">
                <!--            <div class="row align-items-end">-->
                <!--              <div class="col-md-7 ">-->
                <div class="form-group">
                  <label>Observations</label>
                  <textarea
                    class="form-control"
                    name="commentaires"
                    [(ngModel)]="commentaires"
                    rows="5"
                  ></textarea>
                  <!--                </div>-->
                  <!--              </div>-->
                </div>
              </div>

              <!-- accepted payments column -->
              <div class="col-6">
                <form
                  class="form-horizontal"
                  #commandeForm="ngForm"
                  autocomplete="off"
                >

                  &nbsp;

                  <div class="card card-danger">
                    <div class="card-header">
                      <h3 class="card-title">Imm. véhicule</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <div class="example-container">
                        <label id="example-radio-group-label">Le véhicule à t'il une immatriculation ??</label>
                        <mat-radio-group (change)="radioChange($event)" aria-label="Le véhicule à t'il une immatriculation ??">
                          <mat-radio-button [checked]="imIsIn" value="1">Oui</mat-radio-button>
                          <mat-radio-button value="2">Non</mat-radio-button>
                        </mat-radio-group>

                        <br>

                        <mat-form-field *ngIf="imIsIn==true">
                          <mat-label > Immatriculation du véhicule </mat-label>
                          <input matInput type="text" [(ngModel)]="immatriculation"  name="immatriculation"  >
                        </mat-form-field>

                        <br>

                        <mat-form-field *ngIf="imIsNotIn==true">
                          <mat-label > Motif </mat-label>
                          <textarea matInput type="text" [(ngModel)]="motifpasimmatriculation"  name="motifpasimmatriculation"></textarea>
                        </mat-form-field>

                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>

                  &nbsp;

                </form>

              </div>

              <!-- /.col -->
            </div>
            <!-- /.row -->


            <div class="row">
              <div class="col-6">
                <div class="card-body">
                  <div class="example-container">
                    <mat-form-field *ngIf="iscanceled==true">
                      <mat-label > Pourquoi ce bon est non conforme justifier pourquoi... </mat-label>
                      <textarea matInput type="text"  [(ngModel)]="canceledcommentaire" ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>


            <!-- this row will not appear when printing -->

          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
      <div class="row no-print card-footer" *ngIf="selectedtypereception != 'Aucune' && iscanceled === false">
        <div class="col-12">
          <button class="btn btn-primary float-right"  (click)="enregistrerReception(stepper)"><i class="fa fa-forward"></i> Suivant</button>
        </div>
      </div>

      <div class="row no-print card-footer" *ngIf="selectedtypereception === 'Reception non conforme' && iscanceled === true">
        <div class="col-12">
          <button class="btn btn-danger float-right"  (click)="AnnulerBondeReception(commandeService.selectedCommande.id)"><i class="fa fa-ban"></i> Annuler le bon de commande</button>
        </div>
      </div>

    </div>
  </mat-step>

  <mat-step label="Ventilation">

    <div class="row">
      <div class="col-lg-12">

        <div class="tab-content" id="custom-tabs-one-tabContent">
          <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
            <br />
            <div class="row">

              <div class="col-lg-3">
                  <button type="button" class="btn btn-primary margin pull-right" (click)="goBack(stepper)">   <i class="fa fa-backward"></i> Retour à réception  </button>
              </div>

              <div class="col-lg-6">
              </div>
              <div class="col-lg-3">
                <button type="button"  style="color: white" *ngIf="isBLokForValidation" class="btn btn-block bg-gradient-gray-dark" (click)="EnregistrerLeBondeReception()" >Enregistrer le bon de réception</button>
              </div>
            </div>

            <br />
            <br />

            <div class="row">


              <div class="col-lg-12">
                Choix de réception :
                <mat-button-toggle-group [(ngModel)]="selected" name="fontStyle" aria-label="Font Style" (change)="getToogleForReception($event)">
                  <mat-button-toggle value="receptionuniquement">Ventilation  vers le dépot principal</mat-button-toggle>
                  <mat-button-toggle value="enlevementversmaison">Ventilation vers les maisons</mat-button-toggle>
                  <mat-button-toggle value="enlevementverslaprefat">Ventilation vers la préfat</mat-button-toggle>
                </mat-button-toggle-group>
              </div>


            </div>

            <br />
            <br />
            <div class="row">
            <div class="col-lg-12">
            <div class="card" *ngIf="IsForEnlevementToHouse">
              <div class="card-header">
                <h3 class="card-title" >DETAILS DES ENLEVEMENTS DIRECT VERS MAISONS</h3>
              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-lg-4">
                    <button type="button"  style="color: white"  class="btn btn-block bg-gradient-primary" (click)="addNewDetail()" >Ajouter un détail</button>
                  </div>
                  <div class="col-lg-4">
                    <div class="search-hero">
                      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher un détail">
                    </div>
                  </div>
                  <div class="col-lg-4">

                  </div>
                </div>

                <br/>

                <div class="row">
                  <div class="col-lg-12">
                    <table mdbTable class="z-depth-1"  #tableEl="mdbTable">
                      <thead>
                      <tr>
                        <th  style="text-align: center" *ngFor="let head of headElement; let i = index "> {{head}} </th>
                      </tr>
                      </thead>

                      <tbody>


                      <tr  *ngFor="let el of enlevementdetail.articles | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">
                        <td style="text-align: center;">{{i+1}}</td>
                        <td style="text-align: center;">{{el.libellefonction}}</td>
                        <td style="text-align: center;">{{el.libellemaison}}</td>
                        <td style="text-align: center;">{{el.article}}</td>
                        <td style="text-align: center;">{{el.quantitevirtuel}}</td>
                        <td style="text-align: center;">{{el.quantiteBesoin}}</td>
                        <td style="text-align: center;">{{el.quantitevirtuel - el.quantiteBesoin}}</td>
                        <td style="text-align: center;">{{el.libelleetape}}</td>

                        <td style="text-align: center;" >

                          <button style="font-size: 10px;text-align: center"  class="btn btn-danger"  (click)="supprimerLaLigneDetail(el)" >
                            <i class="fa fa-trash"></i>
                          </button>


                        </td>

                      </tr>

                      </tbody>

                    </table>

                    <div class="card-footer clearfix">
                      <pagination-controls
                        (pageChange)="p = $event"
                        [nextLabel] = "nextLabel"
                        [previousLabel]="previousLabel"
                        [maxSize]="maxSize"
                        [directionLinks]="directionLinks"
                        [autoHide]="autoHide"
                        [responsive]="responsive"
                        [screenReaderPaginationLabel]="screenReaderPaginationLabel"
                        [screenReaderPageLabel]="screenReaderPageLabel"
                        [screenReaderCurrentLabel]="screenReaderCurrentLabel"
                      ></pagination-controls>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
            <div class="card" *ngIf="IsForEnlevementToPrefat">
              <div class="card-header">
                <h3 class="card-title" >DETAILS DES ENLEVEMENTS DIRECT VERS LA PREFAT</h3>
              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-lg-4">
                    <button type="button"  style="color: white"  class="btn btn-block bg-gradient-primary" (click)="addNewDetailToPrefat()" >Ajouter un détail</button>
                  </div>
                  <div class="col-lg-4">
                    <div class="search-hero">
                      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher un détail">
                    </div>
                  </div>
                  <div class="col-lg-4">

                  </div>
                </div>

                <br/>

                <div class="row">
                  <div class="col-lg-12">
                    <table mdbTable class="z-depth-1"  #tableEl="mdbTable">
                      <thead>
                      <tr>
                        <th  style="text-align: center" *ngFor="let head of headElementArtcile; let i = index "> {{head}} </th>
                      </tr>
                      </thead>

                      <tbody>


                      <tr  *ngFor="let el of enlevementdetailforprefat.articles | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">
                        <td style="text-align: center;">{{i+1}}</td>
                        <td style="text-align: center;">{{el.libellefonction}}</td>
                        <td style="text-align: center;">{{el.libelleprefat}}</td>
                        <td style="text-align: center;">{{el.article}}</td>
                        <td style="text-align: center;">{{el.quantitevirtuel}}</td>
                        <td style="text-align: center;">{{el.quantiteBesoin}}</td>
                        <td style="text-align: center;">{{el.quantitevirtuel - el.quantiteBesoin}}</td>

                        <td style="text-align: center;" >
                          <button style="font-size: 10px;text-align: center"  class="btn btn-danger"  (click)="supprimerLaLigneDetailPrefat(el)" >
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>

                      </tr>

                      </tbody>

                    </table>

                    <div class="card-footer clearfix">
                      <pagination-controls
                        (pageChange)="p = $event"
                        [nextLabel] = "nextLabel"
                        [previousLabel]="previousLabel"
                        [maxSize]="maxSize"
                        [directionLinks]="directionLinks"
                        [autoHide]="autoHide"
                        [responsive]="responsive"
                        [screenReaderPaginationLabel]="screenReaderPaginationLabel"
                        [screenReaderPageLabel]="screenReaderPageLabel"
                        [screenReaderCurrentLabel]="screenReaderCurrentLabel"
                      ></pagination-controls>
                    </div>
                  </div>
                </div>

              </div>
            </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </mat-step>


</mat-horizontal-stepper>

  </div>

</div>


<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Patientez s'il vous plait. </p>
</ngx-spinner>
