<div class="container">
  <h3 mat-dialog-title>PIECES JOINTES A LA RECEPTION DE CETTE ETAPE</h3>

  <div class="row d-flex align-items-stretch">
    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" *ngFor="let el of data['getallimages'];">
      <div class="col-12 text-center">
        <img [src]="path + '/' + el.filename" alt="" class="img-thumbnail">
      </div>
    </div>
  </div>
</div>
