<div class="container">
  <h3 mat-dialog-title>Ajouter un détail</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="row">

      <div class="col-md-6">

        <div class="form">
          <mat-form-field>
            <mat-label>Choisir la section</mat-label>
            <mat-select (selectionChange)="GetLotBySectionPrime($event.value)" placeholder="Sélectionner la section">
              <mat-option *ngFor="let section of data['getallsections']" value="{{section.id}}"> {{section.libellesection}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>



        <div class="form">
          <mat-form-field>
            <mat-label>Choisir la maison</mat-label>
            <mat-select  name="maison_id" [(ngModel)]="data.maison_id" (selectionChange)="getEtapeByMaison($event.value)"  required>
              <mat-option *ngFor="let ds of data['getallmaisons']"  [value]="ds.id">
                {{ds.libellemaison}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field>
            <mat-label>Choisir l'étape d'avancement</mat-label>
            <mat-select name="etape_construction_id"  (selectionChange)="setSelectedEtape($event.value)" [(ngModel)]="data.etape_construction_id"  required>
              <mat-option *ngFor="let ds of etapes"  [value]="ds.id">
                {{ds.libelleetape}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field>
            <mat-label>Choisir la fonction</mat-label>
            <mat-select name="fonction_id" [(ngModel)]="data.fonction_id"  (selectionChange)="setPrestaire($event.value)" required>
              <mat-option *ngFor="let ds of fonctions"  [value]="ds.id">
                {{ds.libelleFonction}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="col-md-6">


        <div class="form">
          <mat-form-field>
            <mat-label>Choisir le lot</mat-label>
            <mat-select  [(ngModel)]="isNull" (selectionChange)="GetMaisonByLot($event.value)" placeholder="Sélectionner le lot">
              <mat-option *ngFor="let lot of lotofsectionsprime" value="{{lot.id}}">{{lot.libellelot}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form">
          <mat-form-field>
            <mat-label>Article</mat-label>
            <mat-select  name="article_id"  (selectionChange)="setSelectedArticle($event.value)" [(ngModel)]="data.article_id"  required>
              <mat-option *ngFor="let ds of data['getallarticles']"  [value]="ds">
                {{ds.article}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input placeholder="Quantité commandé" [(ngModel)]="quantiteCommande" name="quantiteCommande" [readonly]="true"  >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input placeholder="Quantité" [(ngModel)]="data.quantiteBesoin" name="quantiteBesoin" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>


        <div class="form" *ngIf="prestataire">
          <mat-form-field color="accent">
            <input matInput #input placeholder="Le prestataire" [value]="leprestaire" [readonly]="true" >
          </mat-form-field>
        </div>

      </div>

    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Ajouter</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>

  </form>

</div>
