<div class="container">
  <h3 mat-dialog-title>Réceptionner définitivement ou Rejeté</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmReceptionDefinitif()">Réceptionner définitivement</button>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAnnulerReception()">Rejeté cette réception</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>

  </form>
</div>
