<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/dashboard">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="row">
    <div class="col-md-6">
      <div class="card card-widget">
        <div class="card-header">
          <div class="user-block">
            <span class="username"><a routerLink="/start/dashboard">CHANTIER BASSINKO 6</a></span>
          </div>
        </div>
        <div class="card-body">
          <img class="img-fluid pad" src="assets/img/imgChantier1.jpg" alt="Photo">
        </div>
      </div>
  </div>

  <div class="col-md-6">
    <div class="card card-widget">
      <div class="card-header">
        <div class="user-block">
          <span class="username"><a routerLink="/start/dashboard">CHANTIER BASSINKO 6</a></span>
        </div>
      </div>
      <div class="card-body">
        <img class="img-fluid pad" src="assets/img/imgChantier2.jpg" alt="Photo">
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-widget">
      <div class="card-header">
        <div class="user-block">
          <span class="username"><a routerLink="/start/dashboard">CHANTIER BASSINKO 3</a></span>
        </div>
      </div>
      <div class="card-body">
        <img class="img-fluid pad" src="assets/img/imgChantier6.jpg" alt="Photo">
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-widget">
      <div class="card-header">
        <div class="user-block">
          <span class="username"><a routerLink="/start/dashboard">CHANTIER BASSINKO 5</a></span>
        </div>
      </div>
      <div class="card-body">
        <img class="img-fluid pad" src="assets/img/imgChantier4.jpg" alt="Photo">
      </div>
    </div>
  </div>

</div>
