<div class="container">
  <h3 mat-dialog-title>Modifier info. lot</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Libelle lot" [(ngModel)]="data.libellelot" name="libellelot" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-label>Choisir la section</mat-label>
        <mat-select  name="section_id"  [(ngModel)]="data.section_id" required>
          <mat-option *ngFor="let ds of data['getallsections']"  [value]="ds.id">
            {{ds.libellesection}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Mise à jour</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>
  </form>
</div>
