<div class="container">
  <h3 mat-dialog-title>Etes vous sûr de vouloir le supprimer ce prestataire?</h3>
  <div mat-dialog-content>

    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Supprimer</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
  </div>
</div>
