<div class="content-header" *ngIf="chantiers">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{firstlevel + " "}} <strong style="color: red;text-transform: uppercase;">{{chantiers.denomination}}</strong></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/chantiers">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" *ngIf="isDisplayed">

        <!-- Profile Image -->
        <div class="card card-primary card-outline" *ngIf="chantiers">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-thumbnail"
                   [src]="imgURL"
                   alt="Chantier avatar">
            </div>

            <h3 class="profile-username text-center">{{chantiers.code_chantier}}</h3>

            <p class="text-muted text-center">{{chantiers.denomination}}</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Adresse</b> <a class="float-right">{{chantiers.adresse}}</a>
              </li>
              <li class="list-group-item">
                <b>Longitude</b> <a class="float-right">{{chantiers.longitude}}</a>
              </li>
              <li class="list-group-item">
                <b>Latitude</b> <a class="float-right">{{chantiers.latitude}}</a>
              </li>
            </ul>

            <button (click)="editChantier(chantiers)" class="btn btn-primary btn-block"><b>Mis à jour</b></button>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary" *ngIf="employe">
          <div class="card-header">
            <h3 class="card-title">Info. du chef de chantier</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Prénom & Nom</strong>

            <p class="text-muted">
             {{ employe.prenomemploye + " " +  employe.name }}
            </p>

            <hr>

            <strong><i class="fas fa-mail-bulk mr-1"></i> Email</strong>

            <p class="text-muted">   {{ employe.email}} </p>

            <hr>

            <strong><i class="fas fa-phone-alt mr-1"></i> Téléphone </strong>

            <p class="text-muted">   {{ employe.telemploye}}</p>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="{{bootstrapcolumn}}">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#localisation" data-toggle="tab">Localisation</a></li>
              <li class="nav-item"><a class="nav-link" href="#sections" (click)="ActualiserLesSections()" data-toggle="tab">Sections</a></li>
              <li class="nav-item"><a class="nav-link" href="#lots" (click)="ActualiserLesLots()" data-toggle="tab">Lots</a></li>
              <li class="nav-item"><a class="nav-link" href="#maisons" (click)="ActualiserLesMaisons()" data-toggle="tab">Maisons</a></li>
              <li class="nav-item"><a class="nav-link" href="#prefats" (click)="ActualiserLesPrefats()" data-toggle="tab">Préfats</a></li>
              <li class="nav-item"> &nbsp; <mat-checkbox (change)="ChangeSateOfVue($event)" > {{texttodisplay}} </mat-checkbox></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="localisation">
                <agm-map  [zoom]="12" [latitude]="latitude" [longitude]="longitude">
                  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="sections">
                <button type="button" class="btn btn-block bg-gradient-primary" (click)="addNewSection()">Ajouter une nouvelle section</button>

                <table mdbTable class="z-depth-1"  #tableEl="mdbTable">

                  <thead>
                  <tr>
                    <th  style="text-align: center" *ngFor="let head of headSections ; let i = index"> {{head}} </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="totalsection === 0">
                    <td colspan="7" style="text-align: center">Aucune données disponible</td>
                  </tr>

                  <tr  *ngFor="let el of sections; let i = index">

                    <td style="text-align: center;"> {{i+1}} </td>

                    <td style="text-align: center;"> {{el.libellesection}} </td>

                    <td style="text-align: center;" *ngIf="el.lots.length !==0">

                      <span  *ngFor="let lo of el.lots"> &nbsp; <label class="badge badge-info" *ngIf="lo.is_actif"> {{lo.libellelot}} &nbsp;</label></span>

                    </td>

                    <td style="text-align: center;" *ngIf="el.lots.length === 0" >

                      <label class="badge badge-danger" > Aucun lot pour cette section </label>  &nbsp;

                     </td>

                    <td style="text-align: center">
                      <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px;" (click)="deleteSection(i, el.id, el.libellesection)" >
                        <i class="fa fa-trash"></i>
                      </button>
                      <button style="font-size: 10px;" (click)="startEditSection(i, el.id, el.libellesection)" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                      </button>
                    </td>

                  </tr>

                  </tbody>

                </table>

              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="lots">

                <div class="row">
                  <div class="col-lg-4">
                    <button type="button" class="btn btn-block bg-gradient-primary" (click)="addNewLot()">Ajouter un nouveau lot</button>
                  </div>

                  <div class="col-lg-4">

                  </div>

                  <div class="col-lg-4">

                    <div class="example-container">
                    <mat-form-field>
                      <mat-select (selectionChange)="GetLotBySection($event.value)" placeholder="Sélectionner la section">
                        <mat-option *ngFor="let section of sections" [value]="section.id"> {{section.libellesection}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>

                  </div>


                </div>


                <table mdbTable class="z-depth-1"  #tableEl="mdbTable" *ngIf="lotofsections">

                  <thead>
                  <tr>
                    <th  style="text-align: center" *ngFor="let head of headLots ; let i = index"> {{head}} </th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngIf="totallot === 0">
                    <td colspan="7" style="text-align: center">Aucune données disponible</td>
                  </tr>

                  <tr  *ngFor="let el of lotofsections; let i = index">

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{i+1}} </td>

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{el.libellelot}} </td>


                    <td style="text-align: center" *ngIf="el.is_actif">
                      <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px;" (click)="deleteLot(i, el.id, el.libellelot, el.section_id)" >
                        <i class="fa fa-trash"></i>
                      </button>
                      <button style="font-size: 10px;" (click)="startEditLot(i, el.id, el.libellelot, el.section_id)" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                      </button>
                    </td>

                  </tr>

                  </tbody>

                </table>

              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="maisons">

                <div class="row">
                  <div class="col-lg-4">
                    <button type="button" class="btn btn-block bg-gradient-primary" (click)="addNewMaison()">Ajouter une maison</button>
                  </div>

                  <div class="col-lg-4">

                    <div class="example-container">
                      <mat-form-field>
                        <mat-select (selectionChange)="GetLotBySectionPrime($event.value)" placeholder="Sélectionner la section">
                          <mat-option *ngFor="let section of sections" value="{{section.id}}"> {{section.libellesection}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>

                  <div class="col-lg-4">

                    <div class="example-container">
                      <mat-form-field>
                        <mat-select  [(ngModel)]="isNull" (selectionChange)="GetMaisonByLot($event.value)" placeholder="Sélectionner le lot">
                          <mat-option *ngFor="let lot of lotofsectionsprime" value="{{lot.id}}">{{lot.libellelot}} </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>


                </div>




                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="search-hero">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher une maison">
                      </div>
                    </div>
                    <div class="col-md-7"></div>
                  </div>

                  <br>

                <table mdbTable class="z-depth-1"  #tableEl="mdbTable" *ngIf="maisons">

                  <thead>
                  <tr>
                    <th  style="text-align: center" *ngFor="let head of headMaisons; let i = index "> {{head}} </th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngIf="totalmaison === 0">
                    <td colspan="7" style="text-align: center">Aucune données disponible</td>
                  </tr>

                  <tr  *ngFor="let el of maisons | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{i+1}} </td>

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{el.libellemaison}} </td>

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{el.typemaison[0].libelletypemaison}} </td>

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{el.technicien[0].name + " " + el.technicien[0].prenomemploye}} </td>

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{el.societe[0].libellesociete}} </td>

                    <ng-template [ngxPermissionsOnly]="[roles['CDC'], roles['T'], roles['A']]">

                    <td style="text-align: center" *ngIf="el.is_actif">
                      <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px;" (click)="deleteMaison(i, el.id, el.libellemaison, el.superficie, el.codevirtuel, el.client, el.lot_id, el.type_maison_id, el.controleur_id, el.technicien_id, el.societe_id, el.description)" >
                        <i class="fa fa-trash"></i>
                      </button>
                      <button style="font-size: 10px;margin-right: 2%;" (click)="startEditMaison(i, el.id, el.libellemaison, el.superficie, el.codevirtuel, el.client, el.lot_id, el.type_maison_id, el.controleur_id, el.technicien_id, el.societe_id, el.description)" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button style="font-size: 10px;margin-right: 2%;" (click)="ManagePrestataire(el.id)" class="btn btn-primary">
                        <i class="fa fa-users"></i>
                      </button>

                      <button href="#" (click)="ManageEtapeAvancement(el.id, el.libellemaison, typemaison[0].libelletypemaison)" class="btn btn-sm btn-dark">
                        <i class="fas fa-info"></i> Etat
                      </button>

                    </td>

                    </ng-template>

                  </tr>

                  </tbody>

                </table>

                </div>

                <div class="row">
                  <div class="card-body">
                    <div class="col-md-12">
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <td *ngIf="sections">Total des sections : <span class="badge bg-primary"> {{sections.length}} </span></td>
                        <td *ngIf="listelots">Total des lots :  <span class="badge bg-primary"> {{listelots.length}} </span> </td>
                        <td *ngIf="maisons">Total des maisons : <span class="badge bg-primary"> {{maisons.length}} </span> </td>
                        <td *ngIf="societeconstruction">Total des sociétés : <span class="badge bg-primary"> {{societeconstruction.length}} </span> </td>
                      </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>

                <div class="card-footer clearfix">
                    <pagination-controls
                      (pageChange)="p = $event"
                      [nextLabel] = "nextLabel"
                      [previousLabel]="previousLabel"
                      [maxSize]="maxSize"
                      [directionLinks]="directionLinks"
                      [autoHide]="autoHide"
                      [responsive]="responsive"
                      [screenReaderPaginationLabel]="screenReaderPaginationLabel"
                      [screenReaderPageLabel]="screenReaderPageLabel"
                      [screenReaderCurrentLabel]="screenReaderCurrentLabel"
                    ></pagination-controls>
                </div>

              </div>

              <div class="tab-pane" id="prefats">

                <div class="row">
                  <div class="col-lg-4">
                    <button type="button" class="btn btn-block bg-gradient-primary" (click)="addNewPrefat()">Ajouter une nouvelle préfat</button>
                  </div>

                  <div class="col-lg-4">

                  </div>

                  <div class="col-lg-4">

                  </div>


                </div>


                <table mdbTable class="z-depth-1"  #tableEl="mdbTable" *ngIf="prefats">

                  <thead>
                  <tr>
                    <th  style="text-align: center" *ngFor="let head of headPrefat ; let i = index"> {{head}} </th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngIf="totalprefat === 0">
                    <td colspan="7" style="text-align: center">Aucune données disponible</td>
                  </tr>

                  <tr  *ngFor="let el of prefats; let i = index">

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{i+1}} </td>

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{el.libelleprefat}} </td>

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{el.technicien.name}} </td>

                    <td style="text-align: center;" *ngIf="el.is_actif"> {{el.magasinier.name}} </td>

                    <td style="text-align: center" *ngIf="el.is_actif">
                      <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px;" (click)="deletePrefat(i, el.id, el.libelleprefat, el.technicien_id, el.magasinier_id)" >
                        <i class="fa fa-trash"></i>
                      </button>
                      <button style="font-size: 10px;margin-right: 2%;" (click)="startEditPrefat(i, el.id, el.libelleprefat, el.technicien_id, el.magasinier_id)" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                      </button>

                      <button style="font-size: 10px;" (click)="ManagePrestataireInPrefat(el.id, el.libelleprefat)" class="btn btn-primary">
                        <i class="fa fa-users"></i>
                      </button>
                    </td>

                  </tr>

                  </tbody>

                </table>

              </div>

            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Patientez s'il vous plait. </p>
</ngx-spinner>
