<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/besoinjournaliers">{{secondlevel }}</a></li>
          <li class="breadcrumb-item active">{{firstlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="container"  id="print-section" *ngIf="alldetailleveltwo">
  <div class="row"  *ngIf="libelletypebesoin === 'Vers les maisons'">
    <div class="col-12">
      <!-- Main content -->
      <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row">
          <div class="col-12">
            <h4>
              <img src="assets/img/logo_logicSA.jpg" height="185" width="300" style="margin-bottom: 50px;"/>
              <small class="float-right">Date du besoin journalier: {{ dateBJ | date: "dd/MM/yyyy" }}</small>
            </h4>
          </div>
          <!-- /.col -->
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8" style="text-align: center;">

            <h1> <strong>  BESOIN JOURNALIER N° {{ cahierjournalier }}  </strong></h1>

          </div>
          <div class="col-lg-2"></div>
        </div>

        &nbsp;

        <!-- info row -->
        <div class="row invoice-info" style="font-size: 15px">
          <div class="col-sm-4 invoice-col">
            <address>
              <strong>LOGIQ SA</strong><br>
              SA au capital de 1 000 000 000 FCFA<br>
              Siège Social Ouagadougou<br>
              RCCM : BF OUA 2017 M 6955<br>
              Tel : +226 77 09 64 68
            </address>
          </div>
          <!-- /.col -->
          <div class="col-sm-3 invoice-col">
            <br>
            <address>
              FONCTION : <strong style="color: red;"> {{libellefonction}} </strong><br>
<!--              NOM : <strong style="color: red;"> {{nom}} </strong><br>-->
<!--              PRENOM : <strong style="color: red;"> {{prenom}} </strong><br>-->
            </address>
          </div>
          <!-- /.col -->
          <div class="col-sm-5 invoice-col">
            <br>
            <address>
              MAISON : <strong style="color: red;"> {{libellemaison}} </strong><br>
              ETAPE :  <strong style="color: red;"> {{libelleetape}} </strong> <br>
              TECHNICIEN : <strong style="color: red;"> {{nomtechnicien}} </strong>
            </address>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row" style="margin-top: 70px;font-size: 19px;" >
          <!--          <div class="col-12 table-responsive">-->
          <table class="table">
            <!--              <thead>-->
            <tr>
              <th class="text-left"><strong> ARTICLE </strong> </th>
              <th class="text-center"><strong> QUANTITE </strong></th>
            </tr>
            <!--              </thead>-->
            <tbody>
            <tr style="font-size: 12pt;font-family: 'Arial',serif;" *ngFor="let detail of alldetailleveltwo">
              <td class="text-left">{{ detail.libelle_article }}</td>
              <td class="text-center">{{ detail.quantiteBesoin | number:'':'fr-FR'}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!-- /.invoice -->
    </div><!-- /.col -->
  </div><!-- /.row -->





  <div class="row"  *ngIf="libelletypebesoin === 'Vers les préfats'">
    <div class="col-12">
      <!-- Main content -->
      <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row">
          <div class="col-12">
            <h4>
              <img src="assets/img/logo_logicSA.jpg" height="185" width="300" style="margin-bottom: 50px;"/>
              <small class="float-right">Date du besoin journalier: {{ dateBJ | date: "dd/MM/yyyy" }}</small>
            </h4>
          </div>
          <!-- /.col -->
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8" style="text-align: center;">

            <h1> <strong>  BESOIN JOURNALIER N° {{ cahierjournalier }}  </strong></h1>

          </div>
          <div class="col-lg-2"></div>
        </div>

        &nbsp;

        <!-- info row -->
        <div class="row invoice-info" style="font-size: 15px">
          <div class="col-sm-4 invoice-col">
            <address>
              <strong>LOGIQ SA</strong><br>
              SA au capital de 1 000 000 000 FCFA<br>
              Siège Social Ouagadougou<br>
              RCCM : BF OUA 2017 M 6955<br>
              Tel : +226 77 09 64 68
            </address>
          </div>
          <!-- /.col -->
          <div class="col-sm-3 invoice-col">
            <br>
            <address>
              FONCTION : <strong style="color: red;"> {{libellefonction}} </strong><br>
              <!--              NOM : <strong style="color: red;"> {{nom}} </strong><br>-->
              <!--              PRENOM : <strong style="color: red;"> {{prenom}} </strong><br>-->
            </address>
          </div>
          <!-- /.col -->
          <div class="col-sm-5 invoice-col">
            <br>
            <address>
              PREFAT : <strong style="color: red;"> {{libellePREFAT}} </strong><br>
              TECHNICIEN : <strong style="color: red;"> {{nomtechnicien}} </strong>
            </address>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row" style="margin-top: 70px;font-size: 19px;" >
          <!--          <div class="col-12 table-responsive">-->
          <table class="table">
            <!--              <thead>-->
            <tr>
              <th class="text-left"><strong> ARTICLE </strong> </th>
              <th class="text-center"><strong> QUANTITE </strong></th>
            </tr>
            <!--              </thead>-->
            <tbody>
            <tr style="font-size: 12pt;font-family: 'Arial',serif;" *ngFor="let detail of alldetailleveltwo">
              <td class="text-left">{{ detail.libelle_article }}</td>
              <td class="text-center">{{ detail.quantiteBesoin | number:'':'fr-FR'}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!-- /.invoice -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>

<div class="row no-print card-footer">
  <div class="col-12">
    <button  class="btn btn-primary float-right"   [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i> Imprimer</button>

  </div>
</div>































<!--<div class="content-header" *ngIf="libellemaison">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row mb-2">-->
<!--      <div class="col-sm-6">-->
<!--        <h1 class="m-0 text-dark">{{secondlevel}} <strong style="color: red;">{{libellemaison}}</strong></h1>-->
<!--      </div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--      <div class="col-sm-6">-->
<!--        <ol class="breadcrumb float-sm-right">-->
<!--          <li class="breadcrumb-item"><a routerLink="/start/besoinjournaliers">{{firstlevel}}</a></li>-->
<!--          <li class="breadcrumb-item active">{{secondlevel}}</li>-->
<!--        </ol>-->
<!--      </div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--    </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--  </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</div>-->

<!--<section class="content">-->

<!--  &lt;!&ndash; Default box &ndash;&gt;-->
<!--  <div class="card">-->
<!--    <div class="card-header">-->
<!--      <h3 class="card-title" *ngIf="libellemaison" >LA MAISON : <strong style="color: red;">{{libellemaison}}</strong> -  N° BESOIN : <strong style="color: red;">{{cahierjournalier}}</strong>-->
<!--        -  ETAPE : <strong style="color: red;">{{libelleetape}}</strong>-->
<!--      </h3>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <div class="row">-->
<!--        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">-->


<!--          <br/>-->

<!--          <div class="row">-->
<!--            <div class="col-12">-->

<!--              <div class="post">-->

<!--                <table mdbTable class="z-depth-1"  #tableEl="mdbTable">-->
<!--                  <thead>-->
<!--                  <tr>-->
<!--                    <th  style="text-align: center" *ngFor="let head of headElements; let i = index "> {{head}} </th>-->
<!--                  </tr>-->
<!--                  </thead>-->

<!--                  <tbody>-->


<!--                  <tr  *ngFor="let el of alldetailleveltwo | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">-->
<!--                    <td style="text-align: center;">{{i+1}}</td>-->
<!--                    <td style="text-align: center;">{{el.libelle_article}}</td>-->
<!--                    <td style="text-align: center;">{{el.quantiteBesoin}}</td>-->
<!--                  </tr>-->

<!--                  </tbody>-->

<!--                </table>-->


<!--                <div class="card-footer clearfix">-->
<!--                  <pagination-controls-->
<!--                    (pageChange)="p = $event"-->
<!--                    [nextLabel] = "nextLabel"-->
<!--                    [previousLabel]="previousLabel"-->
<!--                    [maxSize]="maxSize"-->
<!--                    [directionLinks]="directionLinks"-->
<!--                    [autoHide]="autoHide"-->
<!--                    [responsive]="responsive"-->
<!--                    [screenReaderPaginationLabel]="screenReaderPaginationLabel"-->
<!--                    [screenReaderPageLabel]="screenReaderPageLabel"-->
<!--                    [screenReaderCurrentLabel]="screenReaderCurrentLabel"-->
<!--                  ></pagination-controls>-->
<!--                </div>-->

<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /.card-body &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /.card &ndash;&gt;-->

<!--</section>-->
