
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="card card-solid">
  <div class="col-md-3" style="float: right;color: white;margin-top: 10px;"> <a type="button" class="btn btn-info" routerLink="/start/ajouter-chantier"> Ajouter un chantier  <i class="fa fa-plus"></i></a></div>
  <div class="card-body pb-0">
    <div class="row d-flex align-items-stretch">
      <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" *ngFor="let el of elements; let i = index">
        <div class="card bg-light">
          <div class="card-header text-muted border-bottom-0" >
            {{el.code_chantier}}
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-7">
                <h2 class="lead"><b>  {{el.denomination}} </b></h2>
                <p class="text-muted text-sm"><b>Description : </b> {{el.description}} </p>
                <ul class="ml-4 mb-0 fa-ul text-muted">
                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{el.adresse}}</li>
                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-map-marked"></i></span> Longitude : {{el.longitude}} </li>
                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-map-marked"></i></span> Latitude : {{el.latitude}} </li>
                </ul>
              </div>
              <div class="col-5 text-center">
                <img [src]="path + '/' + el.url_photo" alt="" class="img-thumbnail">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <ng-template [ngxPermissionsOnly]="roles['A']">
              <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px"
                      mwlConfirmationPopover
                      [popoverTitle]='popoverTitle'
                      [popoverMessage]="popoverMessage"
                      placement="left"
                      (confirm)="deleteChantier(el)"
                      (cancel)="cancelClicked=true">
                <i class="fa fa-trash"></i>
              </button>
              </ng-template>
              <button href="#" (click)="voirChantier(el)" class="btn btn-sm btn-primary">
                <i class="fas fa-info"></i> Détails
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card-footer -->
</div>



<!--<div class="card">-->
<!--  <div class="card-header">-->
<!--    <h3 class="card-title">Liste des chantiers</h3>-->
<!--  </div>-->

<!--  <div class="row" style="margin-top: 10px;">-->

<!--    <div class="col-md-2" style="margin-top: 10px;margin-left: 20px;">-->
<!--      <h4>Recherher</h4>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--      <input type="text"  [(ngModel)]="searchText"  id="search"  class="form-control" mdbInput/>-->
<!--    </div>-->


<!--    <div class="col-md-3" style="float: right;color: white;"> <a type="button" class="btn btn-info" routerLink="/start/ajouter-chantier"> Ajouter un chantier  <i class="fa fa-plus"></i></a></div>-->


<!--  </div>-->
<!--  &lt;!&ndash; /.card-header &ndash;&gt;-->
<!--  <div class="card-body">-->
<!--    <table   mdbTable class="z-depth-1"  #tableEl="mdbTable" striped="true" >-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th style="text-align: center;" *ngFor="let head of headElements ; let i = index"> {{head}} </th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngIf="totalchantier === 0">-->
<!--        <td colspan="5" style="text-align: center">Aucune données disponible</td>-->
<!--      </tr>-->

<!--      <tr *ngFor="let el of elements; let i = index">-->
<!--        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{i+1}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.code_chantier}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.denomination}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.adresse}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.description}}</td>-->

<!--        <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center">-->
<!--          <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px"-->
<!--                  mwlConfirmationPopover-->
<!--                  [popoverTitle]='popoverTitle'-->
<!--                  [popoverMessage]="popoverMessage"-->
<!--                  placement="left"-->
<!--                  (confirm)="deleteChantier(el)"-->
<!--                  (cancel)="cancelClicked=true">-->
<!--            <i class="fa fa-trash"></i>-->
<!--          </button>-->
<!--&lt;!&ndash;          <button (click)="editChantier(el)" style="font-size: 10px" class="btn btn-warning">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="fa fa-edit"></i>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--          <button (click)="voirChantier(el)" style="font-size: 10px" class="btn btn-primary">-->
<!--            <i class="fa fa-eye"></i>-->
<!--          </button>-->
<!--        </td>-->

<!--      </tr>-->

<!--      </tbody>-->
<!--      <tfoot class="grey lighten-5 w-100">-->
<!--      <tr>-->
<!--        <td colspan="5">-->
<!--          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tfoot>-->
<!--    </table>-->
<!--  </div>-->
<!--  &lt;!&ndash; /.card-body &ndash;&gt;-->
<!--</div>-->
