<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/enlevements">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="card">
  <div class="card-header">
<!--    <div class="col-lg-6">-->
<!--    <h3 class="card-title">Effectuer un enlèvement sur le besoin journalier : <strong style="color: red;"> {{numerocahierjournalier}} </strong> du  Technicien : <strong style="color: red;"> {{letechnicien.name + " " + letechnicien.prenomemploye}} </strong></h3>-->
<!--    </div>-->

    <div class="col-lg-6">
    <div class="example-container">
<!--      <mat-form-field>-->
        <mat-select class="form-control"  [(value)]="selectedtypeenlevement" (selectionChange)="GetEnlevementState($event.value)" placeholder="Sélectionner le besoin journalier - Liste des besoins journaliers en attente">
<!--          <mat-option value="tous les besoins journaliers">Tous les besoins journaliers</mat-option>-->
          <mat-option *ngFor="let bj of listebesoinjouralier" [value]="bj">{{bj.cahierjournalier +" - "+ bj.nomtechnicien + " - " + bj.typebesoin}}</mat-option>
        </mat-select>
<!--      </mat-form-field>-->
    </div>
  </div>
  </div>

  <div class="card-body">
    <div class="row" *ngIf="IsDispoForEnlevement">
      <div class="col-lg-4">

        <mat-form-field>
          <mat-select [(ngModel)]="idlivreur"  placeholder="Sélectionner obligatoirement le livreur">
            <mat-option *ngFor="let li of livreurs" [value]="li.id">{{li.prenomlivreur +"  "+ li.nomlivreur}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="example-container">
        <button  class="btn btn-primary" (click)="effectuerunenlevement()" >
          <i class="fas fa-dolly-flatbed"></i> Enregistrer
        </button>
        </div>
      </div>
    </div>
    <br>
    <div class="example-container mat-elevation-z8" *ngIf="libelletypebesoin === 'Vers les maisons'">
    <div class="example-header">
    <mat-form-field>
      <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
      <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="Checked">

        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [(ngModel)]="row.checked"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="N°">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"> {{i+1}} </mat-cell>
      </ng-container>

      <!-- Maison Column -->
      <ng-container matColumnDef="Maison">
        <mat-header-cell *matHeaderCellDef> Maison </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.libellemaison}}
        </mat-cell>
      </ng-container>

      <!-- Fonction Column -->
      <ng-container matColumnDef="Fonction">
        <mat-header-cell *matHeaderCellDef> Fonction </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.libellefonction}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Prestataire">
        <mat-header-cell *matHeaderCellDef> Prestataire </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.prenomprestataire + " " + element.nomprestataire}}
        </mat-cell>
      </ng-container>

      <!-- Article Column -->
      <ng-container matColumnDef="Article">
        <mat-header-cell *matHeaderCellDef> Article </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.article}} </mat-cell>
      </ng-container>

      <!-- Quantité Column -->
      <ng-container matColumnDef="Quantite commande">
        <mat-header-cell *matHeaderCellDef> Quantité Commandé </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.quantiteBesoin}}
        </mat-cell>
      </ng-container>

      <!-- Quantité Column -->
      <ng-container matColumnDef="Quantite">
        <mat-header-cell *matHeaderCellDef> Quantité Restant </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.reliquat}}
        </mat-cell>
      </ng-container>

      <!-- Fav Column -->
      <ng-container matColumnDef="EtapeAvancement">
        <mat-header-cell *matHeaderCellDef> Etape avancement </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.libelleetape}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="QuantiteASortir">
        <mat-header-cell *matHeaderCellDef> Quantité à sortir </mat-header-cell>

        <mat-cell *matCellDef="let element">
          <mat-form-field floatLabel="never">
            <input matInput  [value]="element.reliquat" [(ngModel)]="element.quantiteASortir">
          </mat-form-field>
        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="headElement"></mat-header-row>
      <mat-row *matRowDef="let row; columns: headElement;"  (click)="selection.toggle(row)"></mat-row>
    </mat-table>

  </div>





    <div class="example-container mat-elevation-z8" *ngIf="libelletypebesoin === 'Vers les préfats'">
      <div class="example-header">
        <mat-form-field>
          <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
          <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="Checked">

          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)" [(ngModel)]="row.checked"></mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="N°">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element;let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <!-- Maison Column -->
        <ng-container matColumnDef="Prefat">
          <mat-header-cell *matHeaderCellDef> Préfat </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.libelleprefat}}
          </mat-cell>
        </ng-container>

        <!-- Fonction Column -->
        <ng-container matColumnDef="Fonction">
          <mat-header-cell *matHeaderCellDef> Fonction </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.libellefonction}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Prestataire">
          <mat-header-cell *matHeaderCellDef> Prestataire </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.prenomprestataire + " " + element.nomprestataire}}
          </mat-cell>
        </ng-container>

        <!-- Article Column -->
        <ng-container matColumnDef="Article">
          <mat-header-cell *matHeaderCellDef> Article </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.article}} </mat-cell>
        </ng-container>

        <!-- Quantité Column -->
        <ng-container matColumnDef="Quantite commande">
          <mat-header-cell *matHeaderCellDef> Quantité Commandé </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.quantiteBesoin}}
          </mat-cell>
        </ng-container>

        <!-- Quantité Column -->
        <ng-container matColumnDef="Quantite">
          <mat-header-cell *matHeaderCellDef> Quantité Restant </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.reliquat}}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="QuantiteASortir">
          <mat-header-cell *matHeaderCellDef> Quantité à sortir </mat-header-cell>

          <mat-cell *matCellDef="let element">
            <mat-form-field floatLabel="never">
              <input matInput  [value]="element.reliquat" [(ngModel)]="element.quantiteASortir">
            </mat-form-field>
          </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="headElementForPrefat"></mat-header-row>
        <mat-row *matRowDef="let row; columns: headElementForPrefat;"  (click)="selection.toggle(row)"></mat-row>
      </mat-table>

    </div>








  </div>

</div>
