<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/besoinjournaliers">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<section class="content">

  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card card-primary card-outline card-tabs">
        <div class="card-header p-0 pt-1">
          <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" (click)="clearDataOfBesoinJournalierPrefat()" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">BESOINS VERS LES MAISONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="clearDataOfBesoinJournalier()" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">BESOINS VERS LA OU LES PREFATS</a>
            </li>
          </ul>
        </div>


        <div class="card-body">
          <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title" >DETAILS DES BESOINS JOURNALIERS POUR LES MAISONS</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                      <div class="row">
                        <div class="col-lg-4">
                          <button type="button"  style="color: white"  class="btn btn-block bg-gradient-primary" (click)="addNewDetail()" >Ajouter un détail</button>
                        </div>
                        <div class="col-lg-4">
                          <div class="search-hero">
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher un détail">
                          </div>
                        </div>
                        <div class="col-lg-4" *ngIf="isDataInTheTable">
                          <button type="button" class="btn btn-block bg-gradient-success" style="color: white" (click)="EnregistrerLeBesoinJournalier()" >Enregistrer</button>
                        </div>
                      </div>

                      <br/>

                      <div class="row">
                        <div class="col-12">

                          <div class="post">

                            <table mdbTable class="z-depth-1"  #tableEl="mdbTable">
                              <thead>
                              <tr>
                                <th  style="text-align: center" *ngFor="let head of headElement; let i = index "> {{head}} </th>
                              </tr>
                              </thead>

                              <tbody>


                              <tr  *ngFor="let el of besoinjournalier.articles | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">
                                <td style="text-align: center;">{{i+1}}</td>
                                <td style="text-align: center;">{{el.libellefonction}}</td>
                                <td style="text-align: center;">{{el.libellemaison}}</td>
                                <td style="text-align: center;">{{el.article}}</td>
                                <td style="text-align: center;">{{el.quantiteBesoin}}</td>
                                <td style="text-align: center;">{{el.libelleetape}}</td>

                                <td style="text-align: center;" >

                                  <!--                      <button style="font-size: 10px;text-align: center; margin-right: 2%;"  class="btn btn-warning"  (click)="startEditBesoin(i, el.id, el.maison_id, el.fonction_id, el.article_id, el.etape_construction_id, el.quantiteBesoin)" >-->
                                  <!--                        <i class="fa fa-edit"></i>-->
                                  <!--                      </button>-->

                                  <button style="font-size: 10px;text-align: center"  class="btn btn-danger"  (click)="supprimerLaLigneDetail(el)" >
                                    <i class="fa fa-trash"></i>
                                  </button>


                                </td>

                              </tr>

                              </tbody>

                            </table>


                            <div class="card-footer clearfix">
                              <pagination-controls
                                (pageChange)="p = $event"
                                [nextLabel] = "nextLabel"
                                [previousLabel]="previousLabel"
                                [maxSize]="maxSize"
                                [directionLinks]="directionLinks"
                                [autoHide]="autoHide"
                                [responsive]="responsive"
                                [screenReaderPaginationLabel]="screenReaderPaginationLabel"
                                [screenReaderPageLabel]="screenReaderPageLabel"
                                [screenReaderCurrentLabel]="screenReaderCurrentLabel"
                              ></pagination-controls>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>




            <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title" >DETAILS DES BESOINS POUR LA PREFAT</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                      <div class="row">
                        <div class="col-lg-4">
                          <button type="button"  style="color: white"  class="btn btn-block bg-gradient-primary" (click)="addNewDetailforPrefat()" >Ajouter un détail</button>
                        </div>
                        <div class="col-lg-4">
                          <div class="search-hero">
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher un détail dans la préfat">
                          </div>
                        </div>
                        <div class="col-lg-4" *ngIf="isDataInTheTableInPrefat">
                          <button type="button" class="btn btn-block bg-gradient-success" style="color: white" (click)="EnregistrerLeBesoinJournalierPourLaPrefat()" >Enregistrer</button>
                        </div>
                      </div>

                      <br/>

                      <div class="row">
                        <div class="col-12">

                          <div class="post">

                            <table mdbTable class="z-depth-1"  #tableEl="mdbTable">
                              <thead>
                              <tr>
                                <th  style="text-align: center" *ngFor="let head of headElementPrefat; let i = index "> {{head}} </th>
                              </tr>
                              </thead>

                              <tbody>


                              <tr  *ngFor="let elprefat of besoinjournalierprefat.articles | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">
                                <td style="text-align: center;">{{i+1}}</td>
                                <td style="text-align: center;">{{elprefat.libellefonction}}</td>
                                <td style="text-align: center;">{{elprefat.libelleprefat}}</td>
                                <td style="text-align: center;">{{elprefat.article}}</td>
                                <td style="text-align: center;">{{elprefat.quantiteBesoin}}</td>

                                <td style="text-align: center;" >

                                  <!--                      <button style="font-size: 10px;text-align: center; margin-right: 2%;"  class="btn btn-warning"  (click)="startEditBesoin(i, el.id, el.maison_id, el.fonction_id, el.article_id, el.etape_construction_id, el.quantiteBesoin)" >-->
                                  <!--                        <i class="fa fa-edit"></i>-->
                                  <!--                      </button>-->

                                  <button style="font-size: 10px;text-align: center"  class="btn btn-danger"  (click)="supprimerLaLigneDetailInPrefat(elprefat)" >
                                    <i class="fa fa-trash"></i>
                                  </button>


                                </td>

                              </tr>

                              </tbody>

                            </table>


                            <div class="card-footer clearfix">
                              <pagination-controls
                                (pageChange)="p = $event"
                                [nextLabel] = "nextLabel"
                                [previousLabel]="previousLabel"
                                [maxSize]="maxSize"
                                [directionLinks]="directionLinks"
                                [autoHide]="autoHide"
                                [responsive]="responsive"
                                [screenReaderPaginationLabel]="screenReaderPaginationLabel"
                                [screenReaderPageLabel]="screenReaderPageLabel"
                                [screenReaderCurrentLabel]="screenReaderCurrentLabel"
                              ></pagination-controls>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>

            </div>
          </div>


        </div>


      </div>
    </div>
  </div>














  <!-- Default box -->

  <!-- /.card -->

</section>
