<!-- /.content-wrapper -->
<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a href="http://adminlte.io">LOGIQ SA</a>.</strong>
  Tous droits réservés.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.1
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
