<div class="container">
  <h3 mat-dialog-title>Modifier détail besoin journalier</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="row">

      <div class="col-md-6">
        <div class="form">
          <mat-form-field>
            <mat-label>Choisir la maison</mat-label>
            <mat-select  name="maison_id" [(ngModel)]="data.maison_id" (selectionChange)="getEtapeByMaison($event.value)"  required>
              <mat-option *ngFor="let ds of data['getallmaisons']"  [value]="ds.id">
                {{ds.libellemaison}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field>
            <mat-label>Choisir l'étape d'avancement</mat-label>
            <mat-select name="etape_construction_id"  (selectionChange)="setSelectedEtape($event.value)" [(ngModel)]="data.etape_construction_id"  required>
              <mat-option *ngFor="let ds of data['getalletapes']"  [value]="ds.id">
                {{ds.libelleetape}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field>
            <mat-label>Choisir la fonction</mat-label>
            <mat-select name="fonction_id" [(ngModel)]="data.fonction_id"  (selectionChange)="setPrestaire($event.value)" required>
              <mat-option *ngFor="let ds of data['getallfonctions']"  [value]="ds.id">
                {{ds.libelleFonction}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="col-md-6">

        <div class="form">
          <mat-form-field>
            <mat-label>Article</mat-label>
            <mat-select  name="article_id"  (selectionChange)="setSelectedArticle($event.value)" [(ngModel)]="data.article_id"  required>
              <mat-option *ngFor="let ds of data['getallarticles']"  [value]="ds.id">
                {{ds.libelle_article}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input placeholder="Quantité" [(ngModel)]="data.quantiteBesoin" name="quantiteBesoin" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form" *ngIf="prestataire">
          <mat-form-field color="accent">
            <input matInput #input placeholder="Le prestataire" [value]="leprestaire" [readonly]="true" >
          </mat-form-field>
        </div>

      </div>



    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Modifier</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>

  </form>

</div>
