<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/besoinjournaliers">{{secondlevel }}</a></li>
          <li class="breadcrumb-item active">{{firstlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="container"  id="print-section" *ngIf="besoinjournalier">
  <div class="row" >
    <div class="col-12">
      <!-- Main content -->
      <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row">
          <div class="col-12">
            <h4>
              <img src="assets/img/logo_logicSA.jpg" height="185" width="300" style="margin-bottom: 50px;"/>
              <small class="float-right">Date du besoin journalier: {{ besoinjournalier.dateBJ | date: "dd/MM/yyyy" }}</small>
            </h4>
          </div>
          <!-- /.col -->
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8" style="text-align: center;">

            <h1> <strong>  BESOIN JOURNALIER N° {{ besoinjournalier.cahierjournalier }}  </strong></h1>

          </div>
          <div class="col-lg-2"></div>
        </div>

        &nbsp;

        <!-- info row -->
        <div class="row invoice-info" style="font-size: 20px">
          <div class="col-sm-4 invoice-col">
            <address>
              <strong>LOGIQ SA</strong><br>
              SA au capital de 1 000 000 000 FCFA<br>
              Siège Social Ouagadougou<br>
              RCCM : BF OUA 2017 M 6955<br>
              Tel : +226 77 09 64 68
            </address>
          </div>
          <!-- /.col -->
          <div class="col-sm-4 invoice-col">

          </div>
          <!-- /.col -->
          <div class="col-sm-4 invoice-col">
            <br>
            <address>
              Téléphone :  67 87 32 35 <br>
              Adresse : LOGIQ SA SIS A PISSY<br>
            </address>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row" style="margin-top: 70px;font-size: 19px;">
          <!--          <div class="col-12 table-responsive">-->
          <table class="table">
            <!--              <thead>-->
            <tr>
              <th class="text-left"> <strong>PREFAT</strong></th>
              <th class="text-left"><strong> ARTICLE </strong> </th>
              <th class="text-center"><strong> QUANTITE </strong></th>

            </tr>
            <!--              </thead>-->
            <tbody>
            <tr style="font-size: 12pt;font-family: 'Arial',serif;" *ngFor="let detailBesoinJournalier of besoinjournalier.articles">
              <td class="text-left">{{ detailBesoinJournalier.libelleprefat }}</td>
              <td class="text-left">{{ detailBesoinJournalier.article }}</td>
              <td class="text-center">{{ detailBesoinJournalier.quantiteBesoin | number:'':'fr-FR'}}</td>
            </tr>
            </tbody>
          </table>
          <!--          </div>-->
          <!-- /.col -->
        </div>


        <!--        <div class="row" style="margin-top: 80px;font-size: 16px;">-->
        <!--          <div class="col-sm-3 ">-->
        <!--            <address>-->
        <!--              <b>-->
        <!--                Demandeur-->
        <!--              </b>-->
        <!--            </address>-->
        <!--          </div>-->
        <!--          <div class="col-sm-3">-->
        <!--            <address>-->
        <!--              <b>-->
        <!--                Conducteur chantier-->
        <!--              </b>-->
        <!--            </address>-->
        <!--          </div>-->
        <!--          <div class="col-sm-3">-->
        <!--            <address>-->
        <!--              <b>-->
        <!--                Responsable Stock-->
        <!--              </b>-->
        <!--            </address>-->
        <!--          </div>-->
        <!--          <div class="col-sm-3">-->
        <!--            <address>-->
        <!--              <b>-->
        <!--                Directeur Technique-->
        <!--              </b>-->
        <!--            </address>-->
        <!--          </div>-->
        <!--        </div>-->

        <!-- this row will not appear when printing -->

      </div>
      <!-- /.invoice -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</div>

<div class="row no-print card-footer">
  <div class="col-12">
    <button  class="btn btn-primary float-right"   [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i> Imprimer</button>

  </div>
</div>

