<div class="container">
  <h3 mat-dialog-title>Mise à jour des info. de la préfat</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Libelle préfat" [(ngModel)]="data.libelleprefat" name="libelleprefat" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-label>Choisir le technicien</mat-label>
        <mat-select  name="technicien_id"  [(ngModel)]="data.technicien_id" required>
          <mat-option *ngFor="let ds of data['getalltechniciens']"  [value]="ds.id">
            {{ds.name + " " + ds.prenomemploye}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-label>Choisir le magasinier</mat-label>
        <mat-select  name="magasinier_id"  [(ngModel)]="data.magasinier_id" required>
          <mat-option *ngFor="let ds of data['getallmagasiniers']"  [value]="ds.id">
            {{ds.name + " " + ds.prenomemploye}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Mis à jour</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>
  </form>
</div>
