<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/besoinjournaliers">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<section class="content">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title" *ngIf="cahierjournalier" >DETAILS DU BESOIN JOURNALIER : <strong style="color: red;">{{cahierjournalier}}</strong> </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">


          <br/>

          <div class="row" *ngIf="libelletypebesoin === 'Vers les maisons'">
            <div class="col-12">

              <div class="post">

                <table mdbTable class="z-depth-1"  #tableEl="mdbTable">
                  <thead>
                  <tr>
                    <th  style="text-align: center" *ngFor="let head of headElements; let i = index "> {{head}} </th>
                  </tr>
                  </thead>

                  <tbody>


                  <tr  *ngFor="let el of alldetaillevelone | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">
                    <td style="text-align: center;">{{i+1}}</td>
                    <td style="text-align: center;">{{el.dateBJ | date: "dd/MM/yyyy"}}</td>
                    <td style="text-align: center;">{{el.libellemaison}}</td>
                    <td style="text-align: center;">{{el.libelleFonction}}</td>
                    <td style="text-align: center;">{{el.libelleetape}}</td>
                    <td style="text-align: center;" >

                      <button style="font-size: 10px;text-align: center; margin-right: 2%;"  class="btn btn-warning"  (click)="voirDetailArticle(el.idmaison, el.libellemaison, el.libelleetape, el.libelleFonction, el.nom, el.prenom)" >
                        <i class="fa fa-eye"></i>
                      </button>

                    </td>

                  </tr>

                  </tbody>

                </table>


                <div class="card-footer clearfix">
                  <pagination-controls
                    (pageChange)="p = $event"
                    [nextLabel] = "nextLabel"
                    [previousLabel]="previousLabel"
                    [maxSize]="maxSize"
                    [directionLinks]="directionLinks"
                    [autoHide]="autoHide"
                    [responsive]="responsive"
                    [screenReaderPaginationLabel]="screenReaderPaginationLabel"
                    [screenReaderPageLabel]="screenReaderPageLabel"
                    [screenReaderCurrentLabel]="screenReaderCurrentLabel"
                  ></pagination-controls>
                </div>

              </div>

            </div>
          </div>





          <div class="row" *ngIf="libelletypebesoin === 'Vers les préfats'">
            <div class="col-12">

              <div class="post">

                <table mdbTable class="z-depth-1"  #tableEl="mdbTable">
                  <thead>
                  <tr>
                    <th  style="text-align: center" *ngFor="let head of headElementsInPrefat; let i = index "> {{head}} </th>
                  </tr>
                  </thead>

                  <tbody>


                  <tr  *ngFor="let el of alldetaillevelone | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">
                    <td style="text-align: center;">{{i+1}}</td>
                    <td style="text-align: center;">{{el.dateBJ | date: "dd/MM/yyyy"}}</td>
                    <td style="text-align: center;">{{el.libelleprefat}}</td>
                    <td style="text-align: center;">{{el.libelleFonction}}</td>
                    <td style="text-align: center;" >

                      <button style="font-size: 10px;text-align: center; margin-right: 2%;"  class="btn btn-warning"  (click)="voirDetailArticleInprefat(el.idprefat, el.libelleprefat, el.libelleFonction)" >
                        <i class="fa fa-eye"></i>
                      </button>

                    </td>

                  </tr>

                  </tbody>

                </table>


                <div class="card-footer clearfix">
                  <pagination-controls
                    (pageChange)="p = $event"
                    [nextLabel] = "nextLabel"
                    [previousLabel]="previousLabel"
                    [maxSize]="maxSize"
                    [directionLinks]="directionLinks"
                    [autoHide]="autoHide"
                    [responsive]="responsive"
                    [screenReaderPaginationLabel]="screenReaderPaginationLabel"
                    [screenReaderPageLabel]="screenReaderPageLabel"
                    [screenReaderCurrentLabel]="screenReaderCurrentLabel"
                  ></pagination-controls>
                </div>

              </div>

            </div>
          </div>



        </div>

      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
