
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/dashboard">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des fournisseurs</h3>
  </div>

  <div class="row" style="margin-top: 10px;">

    <div class="col-md-2" style="margin-top: 10px;margin-left: 20px;">
      <h4>Rechercher</h4>
    </div>
    <div class="col-md-3">
      <input type="text"  [(ngModel)]="searchText"  id="search"  class="form-control" mdbInput/>
    </div>

    <div class="col-md-3" style="float: right;color: white;"> <a type="button" class="btn btn-info" routerLink="/start/ajouter-fournisseur"> Ajouter un fournisseur  <i class="fa fa-plus"></i></a></div>

  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table   mdbTable class="z-depth-1"  #tableEl="mdbTable" striped="true" >
      <thead>
      <tr>
        <th style="text-align: center" *ngFor="let head of headElements ; let i = index"> {{head}} </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="totalfournisseur === 0">
        <td colspan="10" style="text-align: center">Aucune données disponible</td>
      </tr>

      <tr *ngFor="let el of elements; let i = index">
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{i+1}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.code_fournisseur}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.raison_social}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.adresse}}</td>

        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >
          <span *ngIf="el.is_canceled"> <label class="badge badge-danger"> Fournisseur blacklister </label> </span>
          <span *ngIf="!el.is_canceled"> <label class="badge badge-success"> Fournisseur activé  </label> </span>
        </td>

        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.tel}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.email}}</td>
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.rc}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.ninea}}</td>-->
        <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center">
          <ng-template [ngxPermissionsOnly]="[roles['A']]">
          <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px"
                  mwlConfirmationPopover
                  [popoverTitle]='popoverTitle'
                  [popoverMessage]="popoverMessage"
                  placement="left"
                  (confirm)="deleteFournisseur(el)"
                  (cancel)="cancelClicked=true">
            <i class="fa fa-trash"></i>
          </button>
          </ng-template>

          <button  style="font-size: 10px;margin-right: 2%" (click)="editFournisseur(el)" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </button>

          <button *ngIf="el.is_canceled == 0" style="font-size: 10px;"  class="btn btn-dark"  (click)="AnnulerFournisseur(el.id)" >
            <i class="fa fa-thumbs-down"></i>
          </button>


          <button *ngIf="el.is_canceled == 1" style="font-size: 10px;"  class="btn btn-primary"  (click)="ActiverFournisseur(el.id)" >
            <i class="fa fa-thumbs-up"></i>
          </button>

        </td>
      </tr>

      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="10">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
