
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{firstlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/employes">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="row">

  <div class="container-fluid">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col-lg-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-info">
            <h3 class="badge badge-dark">LA PHOTO DE PROFIL</h3>
          </div>
          <div class="widget-user-image">
            <img [src]="imgURL" height="200" *ngIf="imgURL"   class="img-circle elevation-2" alt="User Avatar">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-2 border-right">
                <div class="description-block">
<!--                  <h5 class="description-header">3,200</h5>-->
<!--                  <span class="description-text">SALES</span>-->
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-8 border-right">
                <div class="description-block">
<!--                  <h5 class="description-header">13,000</h5>-->
<!--                  (change)="preview(file.files)"-->
                  <input #fileInput type="file" accept='image/*' formControlName="avatar" name="avatar"  (change)="onFileChanged($event)" />
                  <span class="description-text">Changer la photo de profil</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-2">
                <div class="description-block">
<!--                  <h5 class="description-header">35</h5>-->
<!--                  <span class="description-text">PRODUCTS</span>-->
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>


      <div class="col-lg-8">

          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;"> <strong >AJOUT D'UN UTILISATEUR</strong></h3>
            </div>

            <div class="card-body">

              <div class="row">

                <div class="col-lg-6">

                  <div class="example-container">

                    <mat-form-field>
                      <mat-label >Code utilisateur</mat-label>
                      <input matInput formControlName="codeemploye"  [(ngModel)]="referencevalutilisateur" [readonly]="true"  name="codeemploye" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <mat-label >Nom de connexion</mat-label>
                      <input matInput formControlName="login"   name="login" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <mat-label >Nom utilisateur</mat-label>
                      <input matInput formControlName="name"   name="name" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <mat-label >Prenom utilisateur</mat-label>
                      <input matInput formControlName="prenomemploye"   name="prenomemploye" >
                    </mat-form-field>

                  </div>
                </div>

                <div class="col-lg-6">

                  <div class="example-container">

                    <mat-form-field>
                      <mat-label >Téléphone utilisateur</mat-label>
                      <input matInput formControlName="telemploye"   name="telemploye" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <mat-label >Email utilisateur</mat-label>
                      <input matInput formControlName="email"   name="email" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <input  type="password" matInput placeholder="Mot de passe" formControlName="password" required>
                      <mat-error *ngIf="addForm.hasError('required', 'password')">
                        Entrez le mot de passe
                      </mat-error>
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <input type="password" matInput placeholder="Confirmation du mot de passe" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                      <mat-error *ngIf="addForm.hasError('notSame')">
                        Les mots de passe ne correspondent pas
                      </mat-error>
                    </mat-form-field>

                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-12">
                  <div class="example-container">
                    <mat-form-field>
                      <mat-label>Role</mat-label>
                      <mat-select  formControlName="roles"  multiple>
                        <mat-option *ngFor="let role of roles" [value]="role.id">{{role.libellerole}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>


              &nbsp;

              <div class="row">
                <div class="col-lg-12">
                  <mat-checkbox formControlName="isActif" name="isActif" >Actif ?</mat-checkbox>
                </div>
              </div>

              </div>

            <div class="card-footer">
              <button routerLink="/start/employes" class="btn btn-warning" style="margin-right: 8px;">Annuler</button>

              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

          </div>

      </div>
    </div>

<!--    <div class="col-lg-2"></div>-->
    </form>
  </div>



</div>
