<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/commandes">{{secondlevel }}</a></li>
          <li class="breadcrumb-item active">{{firstlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="container"  id="print-section" *ngIf="commandeService.selectedCommande">
  <div class="row" >
    <div class="col-12">
      <!-- Main content -->
      <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row">
          <div class="col-12">
            <h4>
              <img src="assets/img/logo_logicSA.jpg" height="185" width="300" style="margin-bottom: 50px;"/>
              <small class="float-right">Date: {{commandeService.selectedCommande.date_BC | date: "dd/MM/yyyy"}}</small>
            </h4>
          </div>
          <!-- /.col -->
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8" style="text-align: center;">

            <h1> <strong>  BON DE COMMANDE N° {{ commandeService.selectedCommande.numero_BC }}  </strong></h1>

          </div>
          <div class="col-lg-2"></div>
        </div>

        &nbsp;

        <!-- info row -->
        <div class="row invoice-info" style="font-size: 20px">
          <div class="col-sm-4 invoice-col">
            DE
            <address>
              <strong>LOGIQ SA</strong><br>
              SA au capital de 1 000 000 000 FCFA<br>
              Siège Social Ouagadougou<br>
              RCCM : BF OUA 2017 M 6955<br>
              Tel : +226 77 09 64 68
            </address>
          </div>
          <!-- /.col -->
          <div class="col-sm-4 invoice-col">

            A
            <address>
              <strong> {{ commandeService.selectedCommande.fournisseur}}</strong><br>
              Téléphone : {{ commandeService.selectedCommande.telephone_fournisseur }}<br>
              Adresse :  {{ commandeService.selectedCommande.adresse_fournisseur }}<br>
            </address>
          </div>
          <!-- /.col -->
          <div class="col-sm-4 invoice-col">
            <br>
            <b>Date de livraison :</b> {{commandeService.selectedCommande.date_lvraison_prevue| date: "dd/MM/yyyy"}}<br>
            <b>Lieu de déchargement:</b> {{ commandeService.selectedCommande.adresse_chantier }}<br>
            <b>Chantier:</b>  {{ commandeService.selectedCommande.chantier }}
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row" style="margin-top: 70px;font-size: 19px;">
<!--          <div class="col-12 table-responsive">-->
            <table class="table">
<!--              <thead>-->
              <tr>
                <th class="text-left"> <strong>REFERENCE</strong></th>
                <th class="text-left"><strong> DESIGNATION </strong> </th>
                <th class="text-center"><strong> QUANTITE </strong></th>
                <th class="text-center"><strong> UNITE </strong></th>
                <th class="text-right"> <strong> PU </strong> </th>
                <th class="text-right"> <strong> PRIX TOTAL </strong></th>
              </tr>
<!--              </thead>-->
              <tbody>
              <tr style="font-size: 12pt;font-family: 'Arial',serif;" *ngFor="let detailCommande of commandeService.selectedCommande.articles">
                <td class="text-left">{{ detailCommande.reference }}</td>
                <td class="text-left">{{ detailCommande.article }}</td>
                <td class="text-center">{{ detailCommande.quantite | number:'':'fr-FR'}}</td>
                <td class="text-center">{{ detailCommande.unite }}</td>
                <td class="text-right">{{ detailCommande.prix_unitaire | number:'':'fr-FR' }}</td>
                <td class="text-right">{{detailCommande.prix_unitaire * detailCommande.quantite | number:'':'fr-FR'}}
                </td>
              </tr>
              </tbody>
            </table>
<!--          </div>-->
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <!-- accepted payments column -->
          <div class="col-6" >

            <div class="example-container">
              <span style="text-align: justify;" *ngIf="commandeService.selectedCommande.libellemodepaiement" > <strong> Mode de paiement : </strong>  {{commandeService.selectedCommande.libellemodepaiement}}  </span>
            </div>

            <div class="example-container" style="margin-top: 50px;font-size: 19px;" *ngIf="commandeService.selectedCommande.montant_bic" >
              <table class="tdat" *ngIf="istherebic" >

                <thead>
                <tr>
                  <td style="text-align: center;">N° Ref</td>
                  <td style="text-align: center;">Article</td>
                  <td style="text-align: center;">BIC</td>
                  <td style="text-align: center;">Valeur</td>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let cm of commandeService.selectedCommande.articles">
                  <td style="text-align: center;" *ngIf="cm.is_bic"> {{cm.reference}} </td>
                  <td style="text-align: center;" *ngIf="cm.is_bic"> {{cm.article}} </td>
                  <td style="text-align: center;" *ngIf="cm.is_bic"> {{cm.valueofbic + " % "}} </td>
                  <td style="text-align: center;" *ngIf="cm.is_bic"> {{ cm.prix_unitaire * cm.quantite *  (cm.valueofbic / 100)}} </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
          <!-- /.col -->
          <div class="col-6">

            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th style="width:50%;text-align: right;"> <strong>TOTAL HT : </strong> </th>
                  <td style="text-align: right;"> <strong> {{commandeService.totalSum(commandeService.selectedCommande.articles) | number:'':'fr-FR'}} FCFA </strong></td>
                </tr>
                <tr *ngIf="commandeService.selectedCommande.montant_tva">
                  <th  style="width:50%;text-align: right;"> <strong>TVA : </strong> </th>
                  <td style="text-align: right;">   <strong>  {{commandeService.selectedCommande.montant_tva | number:'':'fr-FR'}} FCFA </strong> </td>
                </tr>
                <tr *ngIf="commandeService.selectedCommande.montant_bic" >
                  <th  style="width:50%;text-align: right;">  <strong> BIC : </strong></th>
                  <td style="text-align: right;">     {{commandeService.selectedCommande.montant_bic | number:'':'fr-FR' }} FCFA</td>
                </tr>
                <tr>
                <tr>
                  <th  style="width:50%;text-align: right;"><strong>TOTAL GENERAL : </strong></th>
                  <td style="text-align: right;">  <strong> {{commandeService.selectedCommande.montant_ttc | number:'':'fr-FR'}} FCFA </strong></td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->



        <div class="row" style="margin-top: 80px;font-size: 20px;">
          <div class="col-sm-8"  *ngIf="commandeService.selectedCommande.personneacontacter">
           <span style="font-size: 15px;font-style:italic;color: red;"> NB : Veuillez à contacter la personne suivante {{commandeService.selectedCommande.personneacontacter}} une fois sur le chantier !!!</span>
          </div>
          <div class="col-sm-4 text-right">
            <address>
              <b>
                Directeur Général
              </b>
            </address>
          </div>
        </div>

        <!-- this row will not appear when printing -->

      </div>
      <!-- /.invoice -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</div>
<ng-template [ngxPermissionsOnly]="[roles['CSR'], roles['A']]">
<div class="row no-print card-footer">
  <div class="col-12" *ngIf="commandeService.selectedCommande">
    <a *ngIf="isTotalReceptionne===true && !commandeService.selectedCommande.isreceptionpartiellefinale" (click)="effectuerreception(commandeService.selectedCommande.id)" class="btn btn-success pull-right"><i class="fa fa-truck"></i> Réceptionner une livraison</a>
    <button  class="btn btn-primary float-right"   [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i> Imprimer</button>

  </div>
</div>

