
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des articles</h3>
  </div>

  <div class="row" style="margin-top: 10px;">

    <div class="col-md-2" style="margin-top: 10px;margin-left: 20px;">
      <h4>Rechercher</h4>
    </div>
    <div class="col-md-3">
      <input type="text"  [(ngModel)]="searchText"  id="search"  class="form-control" mdbInput/>
    </div>

    <div class="col-md-3" style="float: right;color: white;"> <a type="button" class="btn btn-info" routerLink="/start/ajouter-article"> Ajouter un article  <i class="fa fa-plus"></i></a></div>

  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table   mdbTable class="z-depth-1"  #tableEl="mdbTable" striped="true" >
      <thead>
      <tr>
        <th  style="text-align: center" *ngFor="let head of headElements ; let i = index"> {{head}} </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="totalarticle === 0">
        <td colspan="7" style="text-align: center">Aucune données disponible</td>
      </tr>

      <tr *ngFor="let el of elements; let i = index">
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{i+1}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.reference}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.libelle_article}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.prix_referent}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" ><span *ngIf="el.unite_mesure"></span> {{el.unite_mesure.code}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center;" >{{el.description}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center">

          <ng-template [ngxPermissionsOnly]="[roles['A']]">
          <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px;"
                  mwlConfirmationPopover
                  [popoverTitle]='popoverTitle'
                  [popoverMessage]="popoverMessage"
                  placement="left"
                  (confirm)="deleteArticle(el)"
                  (cancel)="cancelClicked=true">
            <i class="fa fa-trash"></i>
          </button>
          </ng-template>

          <button style="font-size: 10px;" (click)="editArticle(el)" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </button>

        </td>
      </tr>

      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="7">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
