<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}} <strong style="color:red;"> {{ libellechantier }} </strong> </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item" ><a  routerLink="/start/voir-chantier">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<section class="content">


  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Etat des étapes d'avancement pour la maison <strong style="color:red;">  {{libelledelamaison}} </strong> de type <strong style="color:red;"> {{libelledetypemaison}} </strong> </h3>

      <div class="card-tools">
        <button type="button" class="btn btn-primary" (click)="addNewEtapeEncours()" >
          <i class="fas fa-plus"></i>Démarrer une étape</button>
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped projects">
        <thead>
        <tr>
          <th  style="text-align: center" *ngFor="let head of headEtatEnCours; let i = index "> {{head}} </th>
        </tr>
        </thead>
        <tbody>

        <tr *ngIf="totaletatetape === 0">
          <td colspan="7" style="text-align: center">Aucune données disponible</td>
        </tr>

        <tr  *ngFor="let el of listeetatetape | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">

          <td style="text-align: center;" > {{i+1}} </td>

          <td style="text-align: center;" > {{el.etape[0].libelleetape}} </td>

          <td style="text-align: center;" > <label class="badge badge-success">  {{el.dateouvertureetape  | date: "dd/MM/yyyy" }} </label></td>

          <td style="text-align: center;" >

            <span *ngIf="el.datefermetureetape; else elseBlock"> <label class="badge badge-danger"> {{ el.datefermetureetape  | date: "dd/MM/yyyy"}} </label> </span>
            <ng-template #elseBlock><label > {{ " - " }} </label> </ng-template>

          </td>

          <td style="text-align: center;" ><label class="badge badge-info"> {{ el.nombredejour }} </label> </td>

          <td style="text-align: center;">

            <span   *ngIf="el.etapeState; else elseBlockSate"> <label class="badge badge-dark"> {{ "En cours de validation" }} </label> </span>
            <ng-template #elseBlockSate><label class="badge badge-warning" > {{ " En cours de travaux " }} </label> </ng-template>

          </td>

          <td style="text-align: center" >

            <button *ngIf="el.etapeState === 0" style="font-size: 10px;" type="button" class="btn btn-success" (click)="receptionneEtapeEncours(i, el.id, el.maison_id, el.etape_construction_id)" ><i class="fas fa-check"></i></button>

            <button *ngIf="el.etapeState === 1" style="font-size: 10px;" type="button" class="btn btn-info" (click)="VoirPieceEtape(el.id)" ><i class="fas fa-eye"></i></button>

            <ng-template [ngxPermissionsOnly]="[roles['CDC'], roles['A']]">
            <button *ngIf="el.etapeState === 1 && el.isFinished === 0" style="margin-left:2%; font-size: 10px;" type="button" class="btn btn-warning" (click)="receptionneOuRejeteEtapeEncours(i, el.id)" > <i class="fas fa-file"></i></button>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="[roles['CDC'], roles['A']]">
              <button *ngIf="el.etapeState === 0" style="margin-left:2%; font-size: 10px;" type="button" class="btn btn-warning" (click)="SupprimerEtape(el.id)" > <i class="fas fa-ban"></i></button>
            </ng-template>

          </td>

        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>

</section>
