
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{firstlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/personnels">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="row">

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-2"></div>


      <div class="col-lg-8">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;"> <strong >AJOUT D'UN PRESTATAIRE</strong></h3>
            </div>

            <div class="card-body">





                  <div class="example-container">

                    <mat-form-field>
                      <mat-label >Code Personnel</mat-label>
                      <input matInput formControlName="codeEmploye" name="codeEmploye"   [(ngModel)]="referencevalpersonnel" [readonly]="true" >
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label >Nom</mat-label>
                      <input matInput formControlName="nom"   name="nom" >
                    </mat-form-field>


                    <mat-form-field>
                      <mat-label >Prénom</mat-label>
                      <input matInput formControlName="prenom"   name="prenom" >
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label >Email</mat-label>
                      <input matInput formControlName="email"   name="email">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label >Téléphone</mat-label>
                      <input matInput formControlName="tel"   name="tel">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label >Document d'identité</mat-label>
                      <input matInput formControlName="cnib"   name="cnib">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-select  formControlName="fonction_id" name="fonction_id"  placeholder="Fonction du personnel" >
                        <mat-option *ngFor="let f of fonctions" value="{{f.id}}">{{f.libelleFonction}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                    <mat-select  formControlName="societe_constructive_id" placeholder="Société constructive"  >
                      <mat-option *ngFor="let ds of societes"  [value]="ds.id">
                        {{ds.libellesociete}}
                      </mat-option>
                    </mat-select>
                    </mat-form-field>

                  </div>




            </div>



            <div class="card-footer">
              <button routerLink="/start/personnels" class="btn btn-warning" style="margin-right: 8px;">Annuler</button>

              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="col-lg-2"></div>

  </div>



</div>
