
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{firstlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/fournisseurs">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="row">

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-2"></div>


      <div class="col-lg-8">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;"> <strong >MISE A JOUR INFO FOURNISSEUR</strong></h3>
            </div>
<!--            <input formControlName="id" type="hidden" name="id">-->
            <div class="card-body">

              <div class="row">

                <div class="col-lg-6">

                  <div class="example-container">

                    <mat-form-field>
                      <mat-label >Code Fournisseur</mat-label>
                      <input matInput formControlName="code_fournisseur" [readonly]="true"  name="code_fournisseur" >
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label >Raison sociale</mat-label>
                      <input matInput formControlName="raison_social"   name="raison_social" >
                    </mat-form-field>


                    <mat-form-field>
                      <mat-label >Adresse</mat-label>
                      <input matInput formControlName="adresse"   name="adresse" >
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label >Téléphone</mat-label>
                      <input matInput formControlName="tel"   name="tel">
                    </mat-form-field>

                  </div>

                </div>

                <div class="col-lg-6">

                  <div class="example-container">

                    <mat-form-field>
                      <mat-label >Email</mat-label>
                      <input matInput formControlName="email"   name="email">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label >RC</mat-label>
                      <input matInput formControlName="rc"   name="rc">
                    </mat-form-field>


                    <mat-form-field>
                      <mat-label >NINEA</mat-label>
                      <input matInput formControlName="ninea"   name="ninea">
                    </mat-form-field>

                  </div>

                </div>

              </div>



            </div>



            <div class="card-footer">
              <button  routerLink="/start/fournisseurs" class="btn btn-warning" style="margin-right: 8px;">Annuler</button>

              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="col-lg-2"></div>

  </div>



</div>
