<div class="container">
  <h3 mat-dialog-title>Démarrer une nouvelle étape</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field>
        <mat-label>Choisir l'étape à démarrer</mat-label>
        <mat-select name="etape_construction_id" [(ngModel)]="data.etape_construction_id"  required>
          <mat-option *ngFor="let ds of data['getalletapes']"  [value]="ds.id">
            {{ds.libelleetape}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field >
        <mat-label >Date début étape</mat-label>
        <input  [value]="thedate" [(ngModel)]="data.dateouvertureetape" name="dateouvertureetape" matInput [matDatepicker]="myPicker1" placeholder="Date début étape" >
        <mat-datepicker-toggle  matSuffix [for]="myPicker1"></mat-datepicker-toggle>
        <mat-datepicker #myPicker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Démarrer</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>
  </form>
</div>
