<div class="login-box">

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <img src="assets/img/logo_logicSA.png" alt="" style="width: 100%" ><br>
      <br>
      <form #loginForm=ngForm (ngSubmit)="onSubmit()">
        <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="login"  placeholder="Login" [(ngModel)]="form.login" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password"  placeholder="Mot de passe" [(ngModel)]="form.password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="form-group has-feedback" >
          <select style="text-align: center" name="lechantier" class="form-control" [(ngModel)]="form.lechantier" required>
            <option *ngFor="let chantier of listechantier" value="{{chantier.id}}">{{chantier.denomination}}</option>
          </select>
        </div>
        <div class="row">

          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Se connecter</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
