
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{firstlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/typemaisons">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="row">

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-2"></div>


      <div class="col-lg-8">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;"> <strong >MISE A JOUR D'UN TYPE DE MAISON</strong></h3>
            </div>

            <div class="card-body">

              <div class="row">

                <div class="col-lg-12">

                  <div class="example-container">

                    <mat-form-field>
                      <mat-label >Type maison</mat-label>
                      <input matInput formControlName="libelletypemaison"   name="libelletypemaison" >
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Etapes</mat-label>
                      <mat-select  formControlName="etapes"   multiple [compareWith]="compareFn">
                        <mat-option *ngFor="let etape of lesetapes" [value]="etape">{{etape.libelleetape}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>

                </div>

              </div>

              <div class="example-container">

                <mat-form-field>
                  <textarea matInput formControlName="description" name="description" placeholder="description"></textarea>
                </mat-form-field>

              </div>

            </div>

            <div class="card-footer">
              <button routerLink="/start/typemaisons" class="btn btn-warning" style="margin-right: 8px;">Annuler</button>

              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="col-lg-2"></div>

  </div>



</div>
