
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{firstlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/chantiers">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="row">

  <div class="container-fluid">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="col-lg-4">
          <!-- Widget: user widget style 1 -->
          <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
              <h3 class="badge badge-dark">LA PHOTO DU CHANTIER</h3>
            </div>
            <div class="widget-user-image">
              <img [src]="imgURL" height="400" *ngIf="imgURL"   class="img-thumbnail elevation-1" alt="Chantier Avatar">
            </div>
            <div class="card-footer">
              <div class="row">

                <!-- /.col -->
                <div class="col-sm-12 border-right">
                  <div class="description-block">
                    <!--                  <h5 class="description-header">13,000</h5>-->
                    <!--                  (change)="preview(file.files)"-->
                    <input #fileInput type="file" accept='image/*' formControlName="url_photo" name="url_photo"  (change)="onFileChanged($event)" />
                    <span class="description-text">Changer la photo du chantier</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>


        <div class="col-lg-8">

          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;"> <strong >AJOUT D'UN CHANTIER</strong></h3>
            </div>

            <div class="card-body">

              <div class="row">

                <div class="col-lg-6">

                  <div class="example-container">

                    <mat-form-field>
                      <mat-label >Code chantier</mat-label>
                      <input matInput formControlName="code_chantier"   name="code_chantier" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <mat-label >Dénomination</mat-label>
                      <input matInput formControlName="denomination"   name="denomination" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <mat-label >Adresse</mat-label>
                      <input matInput formControlName="adresse"   name="adresse" >
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Type de chantier</mat-label>
                      <mat-select  formControlName="type_chantier_id" name="type_chantier_id">
                        <mat-option *ngFor="let typechantier of typechantiers" value="{{typechantier.id}}">{{typechantier.libelle_type_chantier}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                </div>

                <div class="col-lg-6">

                  <div class="example-container">

                    <mat-form-field>
                      <mat-label >Longitude</mat-label>
                      <input matInput formControlName="longitude"   name="longitude" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <mat-label >Latitude</mat-label>
                      <input matInput formControlName="latitude"   name="latitude" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <mat-label>Chef de chantier</mat-label>
                      <mat-select  formControlName="chef_chantier_id" name="chef_chantier_id" >
                        <mat-option *ngFor="let employe of employes" value="{{employe.id}}">{{employe.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                <div class="example-container">
                  <mat-form-field>
                    <textarea matInput formControlName="description" placeholder="Description"></textarea>
                  </mat-form-field>
                </div>
                </div>
              </div>


            </div>

            <div class="card-footer">
              <button routerLink="/start/chantiers" class="btn btn-warning" style="margin-right: 8px;">Annuler</button>

              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

          </div>

        </div>
      </div>

      <!--    <div class="col-lg-2"></div>-->
    </form>
  </div>



</div>
