<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/besoinjournaliers">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<section class="content" *ngIf="besoinjournalier">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title" > MISE A JOUR DES DETAILS DU BESOIN JOURNALIER DE LA PREFAT : <strong style="color: red;"> {{besoinjournalier.cahierjournalier}} </strong>  </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

          <div class="row">
            <div class="col-lg-4">
              <button type="button" class="btn btn-block bg-gradient-primary" (click)="addNewDetailforPrefat()" >Ajouter un détail</button>
            </div>
            <div class="col-lg-4">
              <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher un détail">
              </div>
            </div>
            <div class="col-lg-4">
              <button type="button" class="btn btn-block bg-gradient-danger" (click)="MettreAjourLeBesoinJournalierPourLaPrefat()" >Modifier le besoin journalier</button>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-12">

              <div class="post">

                <table mdbTable class="z-depth-1"  #tableEl="mdbTable">
                  <thead>
                  <tr>
                    <th  style="text-align: center" *ngFor="let head of headElement; let i = index "> {{head}} </th>
                  </tr>
                  </thead>

                  <tbody>


                  <tr  *ngFor="let el of besoinjournalier.articles | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">
                    <td style="text-align: center;">{{i+1}}</td>
                    <td style="text-align: center;">{{el.libellefonction}}</td>
                    <td style="text-align: center;">{{el.libelleprefat}}</td>
                    <td style="text-align: center;">{{el.article}}</td>
                    <td style="text-align: center;">{{el.quantiteBesoin}}</td>

                    <td style="text-align: center;" >

                      <!--                      <button style="font-size: 10px;text-align: center; margin-right: 2%;"  class="btn btn-warning"  (click)="startEditBesoin(i, el.id, el.maison_id, el.article_id, el.etape_construction_id, el.quantiteBesoin)" >-->
                      <!--                        <i class="fa fa-edit"></i>-->
                      <!--                      </button>-->

                      <button style="font-size: 10px;text-align: center"  class="btn btn-danger"  (click)="supprimerLaLigneDetail(el)" >
                        <i class="fa fa-trash"></i>
                      </button>

                    </td>

                  </tr>

                  </tbody>

                </table>


                <div class="card-footer clearfix">
                  <pagination-controls
                    (pageChange)="p = $event"
                    [nextLabel] = "nextLabel"
                    [previousLabel]="previousLabel"
                    [maxSize]="maxSize"
                    [directionLinks]="directionLinks"
                    [autoHide]="autoHide"
                    [responsive]="responsive"
                    [screenReaderPaginationLabel]="screenReaderPaginationLabel"
                    [screenReaderPageLabel]="screenReaderPageLabel"
                    [screenReaderCurrentLabel]="screenReaderCurrentLabel"
                  ></pagination-controls>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
