<div class="wrapper">
<app-starter-header> </app-starter-header>
<app-starter-left-side></app-starter-left-side>
<div class="content-wrapper">
<app-starter-content></app-starter-content>
</div>
<app-starter-footer></app-starter-footer>
</div>
