<div class="container">
  <h3 mat-dialog-title>Etes - vous sûr de vouloir autoriser cet fournisseur ??</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="form">
        <div class="example-container">
          <mat-form-field color="accent">
            <input matInput #input  placeholder="Motif de blacklister le fournisseur" [(ngModel)]="data.commentforcanceled" name="commentforcanceled" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Non</button>
  <button mat-button [type]="submit" [mat-dialog-close]="true" (click)="confirmAdd()" >Oui autoriser</button>
</div>
