
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">{{firstlevel}}</li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des Bon de réceptions</h3>
  </div>

  <div class="row" style="margin-top: 10px;">

    <div class="col-lg-2" style="margin-top: 10px;margin-left: 2%;">
      <h4>Recherher</h4>
    </div>
    <div class="col-lg-3">
      <input type="text"  [(ngModel)]="searchText"  id="search"  class="form-control" mdbInput/>
    </div>
    <div class="col-lg-6">
      <div class="example-container">
        <mat-form-field>
          <mat-select  [(value)]="selectedtypereception" (selectionChange)="GetReceptionState($event.value)" placeholder="Filtrer par réceptions (Totale , partielle, partielle finale)">
            <mat-option value="Toutes les réceptions">Toutes les réceptions</mat-option>
            <mat-option  *ngFor="let tyR of typereceptions" value="{{tyR.value}}" >{{tyR.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table   mdbTable class="z-depth-1"  #tableEl="mdbTable" striped="true" >
      <thead>
      <tr>
        <th  style="text-align: center" *ngFor="let head of headElements ; let i = index"> {{head}} </th>
      </tr>
      </thead>
      <tbody>

      <tr *ngIf="totalreception === 0">
        <td colspan="7" style="text-align: center">Aucune données disponible</td>
      </tr>

      <tr *ngFor="let el of elements; let i = index">
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center;">{{i+1}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center"  >{{el.date_RC | date: "dd/MM/yyyy"}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center">{{el.numero_RC}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center">{{el.fournisseur}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center">{{el.commande}}</td>
        <!-- <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center"><span class="badge badge-info">DA approuvé</span></td> -->
        <td style="text-align: center;margin-right: 2%" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <button  style="font-size: 10px;margin-right: 2%" class="btn btn-warning" (click)="voirdetailrreception(el.id)">
            <i class="fa fa-eye"></i>
          </button>

          <span *ngIf="el.typedereception === 'Reception partielle finale' && !el.isValidateForReceptionPFinalle">
          <button class="btn btn-danger" style="font-size: 10px"
                  mwlConfirmationPopover
                  [popoverTitle]='popoverTitle'
                  [popoverMessage]="popoverMessage"
                  placement="left"
                  (confirm)="UpdateForReceptionPartielleFinale(el)"
                  (cancel)="cancelClicked=true">
            <i class="fa fa-cross"></i>
          </button>
          </span>

        </td>
      </tr>

      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
                <td colspan="7">
                  <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
