
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Stocks</h3>
  </div>

  <div class="row" style="margin-top: 10px;">

    <div class="col-md-2" style="margin-top: 10px;margin-left: 20px;">
      <h4>Recherher</h4>
    </div>
    <div class="col-md-3">
      <input type="text"   (keyup)="valuechange($event)"  id="search"  class="form-control" mdbInput/>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table   mdbTable class="z-depth-1"  #tableEl="mdbTable" striped="true"  *ngIf="listChantierStocksFiltree">
      <thead>
      <tr>
        <th  style="text-align: center" *ngFor="let head of headElements ; let i = index"> {{head}} </th>
      </tr>
      </thead>
      <tbody>
<!--      <tr *ngIf="totalstocks === 0">-->
<!--        <td colspan="7" style="text-align: center">Aucune données disponible</td>-->
<!--      </tr>-->

<!--      <tr *ngFor="let el of listChantierStocksFiltree; let i = index">-->
<!--        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{i+1}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.reference}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.article}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.stockMinimal}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.quantiteDisponible | seprator}}</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >Stock Normal</td>-->
<!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center">-->
<!--          <button  class="btn btn-warning">-->
<!--            <i class="fa fa-eye"></i>-->
<!--          </button>-->
<!--        </td>-->
<!--      </tr>-->

      <tr *ngFor="let el of listChantierStocksFiltree; let i = index">
        <td style="text-align: center" >{{i+1}}</td>
        <td style="text-align: center" >{{el.reference}}</td>
        <td style="text-align: center">{{el.article}}</td>
        <td style="text-align: center">{{el.stockMinimal}}</td>
        <td style="text-align: center">{{el.quantiteDisponible | number:'':'fr-FR' }}</td>
        <td style="text-align: center">Stock Normal</td>
        <td  style="text-align: center">
          <button style="font-size: 10px;"  class="btn btn-warning" (click)="detailsstock(ChantierAPI.selectedChantier.id, el.article_id)">
            <i class="fa fa-eye"></i>
          </button>
        </td>
      </tr>


      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
<!--        <td colspan="7">-->
<!--          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>-->
<!--        </td>-->
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
