<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/start/dashboard" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png" alt="Chanti GEST Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light" style="font-size: 25px;"><strong>CHANTI-GEST</strong></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{path}}/{{imageutilisateur}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a routerLink="/start/dashboard"  class="d-block">{{nomutilisateur}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2" *ngIf="roles">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a routerLink="/start/dashboard" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Tableau de bord
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        </li>

        <!-- DEBUT MENU ADMINISTRATEUR -->
        <ng-template [ngxPermissionsOnly]="roles['A']">
        <li class="nav-header">ADMINISTRATION</li>

        <li class="nav-item">
          <a routerLink="/start/permissions" class="nav-link">
            <i class="nav-icon fa fa-tasks"></i>
            <p>
              Permissions
            </p>
          </a>
        </li>


        <li class="nav-item">
          <a routerLink="/start/roles" class="nav-link">
            <i class="nav-icon fa fa-tasks"></i>
            <p>
              Roles
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/start/employes" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>
              Utilisateurs
            </p>
          </a>
        </li>





        <li class="nav-header">Données de base</li>

        <li class="nav-item">
          <a routerLink="/start/fournisseurs" class="nav-link">
            <i class="nav-icon far fa-user"></i>
            <p>
              Fournisseurs
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/start/articles" class="nav-link">
            <i class="nav-icon fab fa-product-hunt"></i>
            <p>
              Articles
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/start/modepaiements" class="nav-link">
            <i class="nav-icon fa fa-money-bill"></i>
            <p>
              Mode paiement
            </p>
          </a>
        </li>

        <li class="nav-header">PARAMETRAGES CHANTIERS</li>

        <li class="nav-item">
          <a routerLink="/start/fonctions" class="nav-link">
            <i class="nav-icon fas fa-briefcase"></i>
            <p>
              Fonctions
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/start/personnels" class="nav-link">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
              Prestataires chantiers
            </p>
          </a>
        </li>

          <li class="nav-item">
            <a routerLink="/start/societes" class="nav-link">
              <i class="nav-icon far fa-building"></i>
              <p>
                Société de construction
              </p>
            </a>
          </li>


        <li class="nav-item">
          <a routerLink="/start/etapes" class="nav-link">
            <i class="nav-icon far fa-building"></i>
            <p>
              Etape de construction
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/start/typemaisons" class="nav-link">
            <i class="nav-icon far fa-building"></i>
            <p>
              Type de maison
            </p>
          </a>
        </li>


        <li class="nav-item">
          <a routerLink="/start/typechantiers" class="nav-link">
            <i class="nav-icon far fa-building"></i>
            <p>
              Type de chantier
            </p>
          </a>
        </li>


        <li class="nav-item">
          <a routerLink="/start/chantiers" class="nav-link">
            <i class="nav-icon far fa-building"></i>
            <p>
              Chantiers
            </p>
          </a>
        </li>



        <li class="nav-header">APPROVISIONNEMENT</li>
        <li class="nav-item">
          <a routerLink="/start/recueils" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Expression des besoins</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/start/commandes" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Bons de commandes</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/start/receptions" class="nav-link">
            <i class="nav-icon fas fa-receipt"></i>
            <p>Réceptions</p>
          </a>
        </li>




        <li class="nav-header">CONSOMMATION</li>
        <li class="nav-item">
          <a routerLink="/start/besoinjournaliers" class="nav-link">
            <i class="nav-icon fa fa-bookmark"></i>
            <p>
              Besoins journaliers
            </p>
          </a>
        </li>
          <li class="nav-item">
            <a routerLink="/start/enlevements" class="nav-link">
              <i class="nav-icon fa fa-bookmark"></i>
              <p>
                Enlèvements
              </p>
            </a>
          </li>

        <li class="nav-header">SUIVI DU STOCKS</li>
        <li class="nav-item">
          <a routerLink="/start/stocks" class="nav-link">
            <i class="nav-icon fas fa-dolly"></i>
            <p>Stock du dépot</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/start/mouvement-stocks-by-article" class="nav-link">
            <i class="nav-icon fas fa-dolly"></i>
            <p>Mouvement du stock</p>
          </a>
        </li>

        </ng-template>
        <!-- FIN MENU ADMINISTRATEUR -->

        <!-- DEBUT MENU SERVICE ACHAT -->
        <ng-template [ngxPermissionsOnly]="roles['SA']">

          <li class="nav-header">Données de base</li>

          <li class="nav-item">
            <a routerLink="/start/fournisseurs" class="nav-link">
              <i class="nav-icon far fa-user"></i>
              <p>
                Fournisseurs
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/start/articles" class="nav-link">
              <i class="nav-icon fab fa-product-hunt"></i>
              <p>
                Articles
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/start/modepaiements" class="nav-link">
              <i class="nav-icon fa fa-money-bill"></i>
              <p>
                Mode paiement
              </p>
            </a>
          </li>

          <li class="nav-header">APPROVISIONNEMENT</li>

          <li class="nav-item">
            <a routerLink="/start/recueils" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Expression des besoins</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/start/commandes" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Bons de commandes</p>
            </a>
          </li>


          <li class="nav-header">SUIVI DU STOCKS</li>
          <li class="nav-item">
            <a routerLink="/start/stocks" class="nav-link">
              <i class="nav-icon fas fa-dolly"></i>
              <p>Stock du dépot</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/start/mouvement-stocks-by-article" class="nav-link">
              <i class="nav-icon fas fa-dolly"></i>
              <p>Mouvement du stock</p>
            </a>
          </li>

        </ng-template>
        <!-- FIN MENU SERVICE ACHAT -->

        <!-- DEBUT MENU CHEF DE SUIVI DES RESSOURCES -->
        <ng-template [ngxPermissionsOnly]="roles['CSR']">

          <li class="nav-header">Données de base</li>

          <li class="nav-item">
            <a routerLink="/start/articles" class="nav-link">
              <i class="nav-icon fab fa-product-hunt"></i>
              <p>
                Articles
              </p>
            </a>
          </li>

          <li class="nav-header">APPROVISIONNEMENT</li>

          <li class="nav-item">
            <a routerLink="/start/recueils" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Expression des besoins</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/start/commandes" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Bons de commandes</p>
            </a>
          </li>

          <li class="nav-header">SUIVI DU STOCKS</li>
          <li class="nav-item">
            <a routerLink="/start/stocks" class="nav-link">
              <i class="nav-icon fas fa-dolly"></i>
              <p>Stock du dépot</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/start/mouvement-stocks-by-article" class="nav-link">
              <i class="nav-icon fas fa-dolly"></i>
              <p>Mouvement du stock</p>
            </a>
          </li>

        </ng-template>
        <!-- FIN MENU CHEF DE SUIVI DES RESSOURCES -->

        <!-- DEBUT MENU TECHNICIEN ET CONSUCTEUR DES CHANTIERS -->
        <ng-template [ngxPermissionsOnly]="[roles['T'], roles['CDC']]">
          <li class="nav-header">PARAMETRAGES CHANTIERS</li>
          <li class="nav-item">
            <a routerLink="/start/chantiers" class="nav-link">
              <i class="nav-icon far fa-building"></i>
              <p>
                Chantiers
              </p>
            </a>
          </li>

          <li class="nav-header">CONSOMMATION</li>
          <li class="nav-item">
            <a routerLink="/start/besoinjournaliers" class="nav-link">
              <i class="nav-icon fa fa-bookmark"></i>
              <p>
                Besoins journaliers
              </p>
            </a>
          </li>
        </ng-template>
        <!-- FIN MENU TECHNICIEN ET CONSUCTEUR DES CHANTIERS  -->

        <!-- DEBUT MENU MAGASINIER -->
        <ng-template [ngxPermissionsOnly]="roles['M']">

          <li class="nav-header">CONSOMMATION</li>
          <li class="nav-item">
            <a routerLink="/start/enlevements" class="nav-link">
              <i class="nav-icon fa fa-bookmark"></i>
              <p>
                Enlèvements
              </p>
            </a>
          </li>

          <li class="nav-header">SUIVI DU STOCKS</li>
          <li class="nav-item">
            <a routerLink="/start/stocks" class="nav-link">
              <i class="nav-icon fas fa-dolly"></i>
              <p>Stock du dépot</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/start/mouvement-stocks-by-article" class="nav-link">
              <i class="nav-icon fas fa-dolly"></i>
              <p>Mouvement du stock</p>
            </a>
          </li>



        </ng-template>
        <!-- FIN MENU MAGASINIER -->


        <li class="nav-header">DECONNEXION</li>
        <li class="nav-item">
          <a (click)="logout($event)" style="cursor: pointer;color: white;" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p >Se déconnecter</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
