<div class="container">
  <h3 mat-dialog-title>Ajouter un nouveau prestataire</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="row">

      <div class="col-md-6">
        <div class="form">
          <mat-form-field>
            <mat-label>Choisir l'étape de construction</mat-label>
            <mat-select  name="etape_construction_id" [(ngModel)]="data.etape_construction_id"  required>
              <mat-option *ngFor="let ds of data['getalletapes']"  [value]="ds.id">
                {{ds.libelleetape}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field>
            <mat-label>Choisir la fonction</mat-label>
            <mat-select  (selectionChange)="GetPrestataireByFonction($event.value)"   required>
              <mat-option *ngFor="let ds of data['getallfonctions']"  [value]="ds.id">
                {{ds.libelleFonction}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
        <mat-form-field>
          <mat-label>Choisir le prestaire</mat-label>
          <mat-select  name="prestataire_id"   [(ngModel)]="data.prestataire_id" required>
            <mat-option *ngFor="let ds of prestataires"  [value]="ds.id">
              {{ds.prenom + " " + ds.nom}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>



      </div>

      <div class="col-md-6">

        <div class="example-container">

          <mat-form-field >
            <mat-label >Date début</mat-label>
            <input  [value]="thedate" [(ngModel)]="data.datedebut" name="datedebut" matInput [matDatepicker]="myPicker1" placeholder="Date début" required >
            <mat-datepicker-toggle  matSuffix [for]="myPicker1"></mat-datepicker-toggle>
            <mat-datepicker #myPicker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field >
            <mat-label >Date fin</mat-label>
            <input  [value]="thedate" [(ngModel)]="data.datefin" name="datefin" matInput [matDatepicker]="myPicker2" placeholder="Date fin" >
            <mat-datepicker-toggle  matSuffix [for]="myPicker2"></mat-datepicker-toggle>
            <mat-datepicker #myPicker2></mat-datepicker>
          </mat-form-field>

          <div class="form">
            <mat-form-field>
              <mat-label>Choisir le type de contrat</mat-label>
              <mat-select  name="typecontrat" [(ngModel)]="data.typecontrat"  required>
                <mat-option *ngFor="let ds of data['getalltypecontrats']"  [value]="ds.libelletypecontrat">
                  {{ds.libelletypecontrat}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

      </div>

    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Ajouter</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>

  </form>

</div>
