<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{firstlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/receptions">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="container" id="print-section" *ngIf="commandeService.selectedCommande">
  <div class="row">
    <div class="col-12">
      <!-- Main content -->
      <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row">
          <div class="col-12" *ngIf="receptionService.selectedReception">
            <h4>
              <img src="assets/img/logo_logicSA.jpg" height="185" width="300" style="margin-bottom: 50px;">
              <small class="float-right">Date: {{receptionService.selectedReception.date_RC | date: "dd/MM/yyyy"}}</small>
            </h4>
          </div>
          <!-- /.col -->
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8" style="text-align: center;"  *ngIf="receptionService.selectedReception">
            <h1> <strong>  BON DE RECEPTION N° {{ receptionService.selectedReception.numero_RC}} </strong></h1>
          </div>
          <div class="col-lg-2"></div>
        </div>


        <!-- info row -->
        <div class="row invoice-info"  style="font-size: 20px">
          <div class="col-sm-4 invoice-col">
            DE
            <address>
              <strong>LOGIQ SA</strong><br>
              SA au capital de 1 000 000 000 FCFA<br>
              Siège Social Ouagadougou<br>
              RCCM : BF OUA 2017 M 6955<br>
              Tel : +226 77 09 64 68
            </address>
          </div>
          <!-- /.col -->
          <div class="col-sm-4 invoice-col" *ngIf="commandeService.selectedCommande && receptionService.selectedReception">
            A
            <address>
              <strong> {{ commandeService.selectedCommande.fournisseur}}</strong><br>
              Bon de commande N° : {{commandeService.selectedCommande.numero_BC}}<br>
              Téléphone : {{ commandeService.selectedCommande.telephone_fournisseur }}<br>
              Adresse :  {{ commandeService.selectedCommande.adresse_fournisseur }}<br>
              Livreur : &nbsp;{{ receptionService.selectedReception.livreur }}
            </address>
          </div>
          <!-- /.col -->
          <div class="col-sm-4 invoice-col" *ngIf="commandeService.selectedCommande && receptionService.selectedReception">
            <b>Numéro pièce :</b>{{receptionService.selectedReception.numero_piece_fournisseur}}<br>
            <b>Chantier:</b>  {{ commandeService.selectedCommande.chantier }} <br>
            <b>Lieu de déchargement :</b>  {{ commandeService.selectedCommande.adresse_chantier }} <br>
            Téléphone Livreur :{{  receptionService.selectedReception.telephone_livreur}}
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->


        <!-- Table row -->
        <div class="row" style="margin-top: 70px;font-size: 19px;">
<!--          <div class="col-12 table-responsive">-->
            <table class="table" *ngIf="receptionService.selectedReception">
<!--              <thead>-->
              <tr>
                <th class="text-left"> <strong>REFERENCE </strong></th>
                <th class="text-left"> <strong>DESIGNATION </strong></th>
                <th class="text-center"> <strong> UNITE </strong></th>
                <th class="text-center"> <strong>QUANTITE </strong></th>

              </tr>
<!--              </thead>-->
              <tbody>
              <tr style="font-size: 12pt;font-family: 'Arial',serif;" *ngFor="let detailsreception of receptionService.selectedReception.articles">
                <td class="text-left">{{ detailsreception.reference }}</td>
                <td class="text-left">{{ detailsreception.article }}</td>
                <td class="text-center">{{ detailsreception.unite }}</td>
                <td class="text-center">{{ detailsreception.quantite_receptionnee }}</td>
              </tr>
              </tbody>
            </table>
<!--          </div>-->
          <!-- /.col -->
        </div>
        <!-- /.row -->



        <div class="row" style="margin-bottom: 5%;" *ngIf="receptionService.selectedReception">
          <!-- accepted payments column -->
          <div class="col-6">
            <div class="form-group">
              <label>Observations</label>
              <textarea
                disabled
                class="form-control"
                name="commentaires"
                [(ngModel)]="receptionService.selectedReception.commentaires"
                rows="3"
              ></textarea>
            </div>
          </div>

        </div>
        <!-- /.row -->


        <div class="row" style="margin-top: 80px;font-size: 20px;">

          <div class="col-md-1"></div>

          <div class="col-md-2">
            <address>
              <b>
                <u> Livreur</u>
              </b>
            </address>
          </div>
          <div class="col-md-2 ">
            <address>
              <b>
                <u> Technicien</u>
              </b>
            </address>
          </div>
          <div class="col-md-2">
            <address>
              <b>
                <u>Magasinier</u>
              </b>
            </address>
          </div>
          <div class="col-md-5">
            <address style="text-align: right;">
              <b>
                <u>Responsable Suivi des ressources</u>
              </b>
            </address>
          </div>
        </div>


        <!-- this row will not appear when printing -->

      </div>
      <!-- /.invoice -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>
<div class="row no-print card-footer">
  <div class="col-12">
    <button  class="btn btn-primary float-right" [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i> Imprimer</button>
  </div>
</div>
