<div class="container">
  <h3 mat-dialog-title>Réceptionner cette étape</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <input #fileInput type="file" accept='image/*'  name="avatar"  (change)="onFileChanged($event)" multiple />


    <br />

    <div class="example-container">
      <mat-form-field >
        <mat-label >Date fin étape</mat-label>
        <input  [value]="thedate" [(ngModel)]="data.datefermetureetape" name="datefermetureetape" matInput [matDatepicker]="myPicker1" placeholder="Date fin étape" >
        <mat-datepicker-toggle  matSuffix [for]="myPicker1"></mat-datepicker-toggle>
        <mat-datepicker #myPicker1></mat-datepicker>
      </mat-form-field>
    </div>

    <br />

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmEtapeReceptionne()">Réceptionner cette étape</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>

  </form>
</div>
