<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active"><a routerLink="/start/recueils">{{secondlevel}}</a></li>
          <li class="breadcrumb-item active">{{firstlevel}}</li>

        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>




<div class="container-fluid"  *ngIf="recueilinsert">


  <mat-horizontal-stepper  #stepper>

    <mat-step label="Entête du besoin">

      <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Renseigner les informations du besoin</h3>
            </div>

            <form   class="form-horizontal">
              <div class="card-body">

                <div class="example-container">

                  <mat-form-field >
                    <mat-label >Date RB</mat-label>
                    <input  [value]="thedate" [(ngModel)]="recueilinsert.dateRB" name="dateRB" matInput [matDatepicker]="myPicker1" placeholder="Date RB" >
                    <mat-datepicker-toggle  matSuffix [for]="myPicker1"></mat-datepicker-toggle>
                    <mat-datepicker #myPicker1></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label >Destinations</mat-label>
                    <input matInput type="text" [(ngModel)]="recueilinsert.destinations" name="destinations"   placeholder="Destinations" >
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label >Date livraison prévue</mat-label>
                    <input  [value]="thedate" name="dateLivraisonCible" [(ngModel)]="recueilinsert.dateLivraisonCible"  matInput [matDatepicker]="myPicker2" placeholder="Date livraison cible" >
                    <mat-datepicker-toggle  matSuffix [for]="myPicker2"></mat-datepicker-toggle>
                    <mat-datepicker #myPicker2></mat-datepicker>
                  </mat-form-field>

                </div>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="button" class="btn bg-orange margin  pull-right" (click)="ajouterLesDetails(stepper)">
                  <i class="fa fa-list-ol"></i> &nbsp; Ajouter les détails
                </button>
              </div>
              <!-- /.card-footer -->
            </form>

          </div>
          <!-- /.box-body -->
        </div>
        <div class="col-lg-2"></div>

      </div>

    </mat-step>


    <mat-step label="Détails des besoins">


      <div *ngIf="displayDetails" style="margin-top: 8px;">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Détails des besoins</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- /.box-header -->
                <div class="box-body">
                  <form #detailcommandeForm="ngForm">
                    <div class="row">
                      <div class="col-lg-4" style="margin-right: 1px; padding-right: 1px">
                        <select
                          name="article"
                          class="form-control "
                          style="width: 100%;"
                          tabindex="-1"
                          aria-hidden="true"
                          [(ngModel)]="articleService.selectedArticle"
                          required
                          (change)="selectionnerArticle()"
                          tabindex="7"
                        >
                          <!-- <option selected hidden>Sélectionner un article</option> -->
                          <option value="-1" disabled="true" [selected]="true"
                          >Sélectionner un article</option
                          >

                          <!-- <option [ngValue]="null">Sélectionner un article</option> -->
                          <option
                            [ngValue]="article"
                            *ngFor="let article of articleService.listArticles"
                          >{{ article.libelle_article }}</option
                          >
                        </select>
                      </div>
                      <div
                        class="col-lg-2"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="text"
                          class="form-control"
                          id="inputunite"
                          name="unite"
                          ngModel="{{unite}}"
                          disabled
                          tabindex="8"
                        />
                      </div>
                      <div
                        class="col-lg-1"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="number"
                          class="form-control"
                          id="inputquantite"
                          placeholder="qtté"
                          name="quantite"
                          [(ngModel)]="quantite"
                          required
                          tabindex="9"
                        />
                      </div>
                      <div
                        class="col-lg-1"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <button
                          type="submit"
                          class="btn btn-primary btn-md "
                          (click)="ajouterLaLigneDetail()"
                          [disabled]="detailcommandeForm.invalid"
                          tabindex="11"
                        >
                          <i class="fa fa-plus"></i>

                        </button>
                      </div>
                    </div>
                  </form>
                  <hr />
                  <div class="row" *ngIf="bLigneDetailAjoutee">
                    <div class="col-12 table-responsive">
                      <table class="table table-striped" *ngIf="recueilinsert.articles">
                        <tbody>
                        <tr>
                          <th class="text-center">ID</th>
                          <th class="text-left">Désignation</th>
                          <th class="text-center">Quantité</th>
                          <th class="text-right">Actions</th>
                        </tr>
                        <tr
                          *ngFor="let detailBesoin of recueilinsert.articles; let i = index"
                        >
                          <td class="text-center">{{i+1}}</td>
                          <td class="text-left">
                            {{ detailBesoin.article }}
                          </td>
                          <td class="text-center">
                            {{ detailBesoin.quantiteDemandee | number:'':'fr-FR' }}
                          </td>
                          <td class="text-right">
                            <button  (click)="supprimerLaLigneDetail(detailBesoin)"><i class="fa fa-trash"></i></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>



                </div>
                <!-- </div>
              </div> -->


                <!-- /.box-body -->
                <div class="box-footer clearfix" *ngIf="bLigneDetailAjoutee">



                  <div class="row">

                    <div class="col-lg-3">
                      <button type="button" class="btn btn-primary margin pull-right" (click)="goBack(stepper)">   <i class="fa fa-backward"></i>  </button>
                    </div>

                    <div class="col-lg-6"></div>

                    <div class="col-lg-3" style="text-align: right;">
                      <button
                        type="button"
                        class="btn bg-success margin pull-right"
                        (click)="enregistrerRecueilChantier()"
                      >
                        <i class="fa fa-save"></i>
                        &nbsp; Enregistrer
                      </button>
                    </div>


                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Patientez s'il vous plait. </p>
</ngx-spinner>
