
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">{{firstlevel}}</a></li>
          <li class="breadcrumb-item"><a routerLink="/start/stocks">{{thirdlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="row">


  <div class="col-md-6">
    <!-- Widget: user widget style 2 -->
    <div class="card card-widget widget-user-2" *ngIf="articleService.selectedArticle">

      <div class="card-footer p-0">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a  class="nav-link">
              Référence <span class="float-right badge bg-primary">{{ articleService.selectedArticle.reference }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              Désignation <span class="float-right badge bg-info">{{ articleService.selectedArticle.libelle_article }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              Prix référent  <span class="float-right badge bg-success">{{articleService.selectedArticle.prix_referent}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>


  <div class="col-md-6">
    <!-- Widget: user widget style 2 -->
    <div class="card card-widget widget-user-2"  *ngIf=" stockPrefatService.stockPrefatArticle">

      <div class="card-footer p-0">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link">
              Stocks <span class="float-right badge bg-primary">{{stockPrefatService.stockPrefatArticle.quantiteDisponible}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Stocks  minimal <span class="float-right badge bg-info">{{stockPrefatService.stockPrefatArticle.stockMinimal}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Description <span class="float-right badge bg-success">{{stockPrefatService.stockPrefatArticle.commentaires}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>


</div>


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Stocks</h3>
  </div>

  <div class="row" style="margin-top: 10px;">

    <div class="col-md-2" style="margin-top: 10px;margin-left: 20px;">
      <h4>Recherher</h4>
    </div>
    <div class="col-md-3">
      <input type="text"    id="search"  class="form-control" mdbInput/>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table   mdbTable class="z-depth-1"  #tableEl="mdbTable" striped="true" >
      <thead>
      <tr>
        <th  style="text-align: center" *ngFor="let head of headElements ; let i = index"> {{head}} </th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let el of stockPrefatService.listChantierArticleMvtStocksPrefat; let i = index">
        <td style="text-align: center" >{{i+1}}</td>
        <td style="text-align: center" >{{el.date | date: "dd/MM/yyyy" }}</td>
        <td style="text-align: center">{{el.nature}}</td>
        <td style="text-align: center">{{el.numero_piece}}</td>
        <td style="text-align: center">{{el.entree | number:'':'fr-FR' }}</td>
        <td style="text-align: center">{{el.sortie | number:'':'fr-FR' }}</td>
        <td style="text-align: center">{{el.stock | number:'':'fr-FR' }}</td>
        <td style="text-align: center">Stock Normal</td>
      </tr>


      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <!--        <td colspan="7">-->
        <!--          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>-->
        <!--        </td>-->
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
