<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active"><a routerLink="/start/commandes">{{secondlevel}}</a></li>
          <li class="breadcrumb-item active">{{firstlevel}}</li>

        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>





<div class="container-fluid"  *ngIf="commandeService.selectedCommande" >


  <mat-horizontal-stepper  #stepper >

    <mat-step label="Entête du bon de commande" class="mat-step-header" >

      <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Modifier les informations du bon de commande</h3>
            </div>

            <form   class="form-horizontal">
              <div class="card-body">

                <div class="example-container">

                  <mat-form-field >
                    <mat-label >Date BC</mat-label>
                    <input  matInput  [(ngModel)]="commandeService.selectedCommande.date_BC"  [ngModelOptions]="{ standalone: true }"  [matDatepicker]="myPicker1"  placeholder="Date BC" >
                    <mat-datepicker-toggle  matSuffix [for]="myPicker1"></mat-datepicker-toggle>
                    <mat-datepicker #myPicker1></mat-datepicker>
                  </mat-form-field>


                  <mat-form-field>
                    <mat-label >Numéro DA</mat-label>
                    <input matInput type="text" [(ngModel)]="commandeService.selectedCommande.numero_DA" name="numero_DA"   placeholder="Numéro DA" >
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label >Personne à contacter</mat-label>
                    <input matInput type="text" [(ngModel)]="commandeService.selectedCommande.personneacontacter" name="personneacontacter"    placeholder="EXAMPLE : IDRISSA/78787878" >
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select [(ngModel)]="commandeService.selectedCommande.fournisseur_id" [ngModelOptions]="{ standalone: true }" placeholder="Choisir un fournisseur">
                      <mat-option *ngFor="let fournisseur of fournisseurService.listFournisseurs"  [value]="fournisseur.id">{{fournisseur.raison_social}}</mat-option>
                    </mat-select>
                  </mat-form-field>


                  <mat-form-field >
                    <mat-label >Date CIBLE</mat-label>
                    <input matInput  [(ngModel)]="commandeService.selectedCommande.date_lvraison_prevue" [ngModelOptions]="{ standalone: true }"  [matDatepicker]="myPicker2" placeholder="Date CIBLE" >
                    <mat-datepicker-toggle  matSuffix [for]="myPicker2"></mat-datepicker-toggle>
                    <mat-datepicker #myPicker2></mat-datepicker>
                  </mat-form-field>

<!--                  <div class="row">-->
<!--                    <div class="col-lg-12">-->
<!--                      <mat-checkbox [(ngModel)]="commandeService.selectedCommande.is_prix_ttc" name="is_prix_ttc" >Enregistrer les prix en TTC!</mat-checkbox>-->
<!--                    </div>-->
<!--                  </div>-->

                  &nbsp;

<!--                  <div class="row">-->
<!--                    <div class="col-lg-8">-->
<!--                      <mat-checkbox   [(ngModel)]="commandeService.selectedCommande.is_bic"  name="is_bic" (change)="GetIsBIC($event)" >Appliquez le BIC!</mat-checkbox>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4" *ngIf="commandeService.selectedCommande.is_bic">-->
<!--                      <select class="form-control"  [(ngModel)]="commandeService.selectedCommande.valueofbic" name="valueofbic" style="text-align: center;">-->
<!--                        <option *ngFor ="let bic of bicvalue" value="{{bic}}"> {{bic + " % "}} </option>-->
<!--                      </select>-->
<!--                    </div>-->

<!--                  </div>-->

                </div>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="button" class="btn bg-orange margin  pull-right" (click)="goForward(stepper)" >
                  <i class="fa fa-list-ol"></i> &nbsp; Modifier les détails
                </button>
              </div>
              <!-- /.card-footer -->
            </form>

          </div>
          <!-- /.box-body -->
        </div>
        <div class="col-lg-2"></div>

      </div>

    </mat-step>

    <mat-step label="Détails du bon de commande" class="mat-step-header" >

      <div  style="margin-top: 8px;">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Modifiié les détails du bon de commande</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- /.box-header -->
                <div class="box-body">
                  <form #detailcommandeForm="ngForm">
                    <div class="row">
                      <div class="col-lg-4" style="margin-right: 1px; padding-right: 1px">
                        <select
                          name="article"
                          class="form-control "
                          style="width: 100%;"
                          tabindex="-1"
                          aria-hidden="true"
                          [(ngModel)]="articleService.selectedArticle"
                          required
                          (change)="selectionnerArticle()"
                          tabindex="7"
                        >
                          <!-- <option selected hidden>Sélectionner un article</option> -->
                          <option value="-1" disabled="true" [selected]="true"
                          >Sélectionner un article</option
                          >

                          <!-- <option [ngValue]="null">Sélectionner un article</option> -->
                          <option
                            [ngValue]="article"
                            *ngFor="let article of articleService.listArticles"
                          >{{ article.libelle_article }}</option
                          >
                        </select>
                      </div>
                      <div
                        class="col-lg-2"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="text"
                          class="form-control"
                          id="inputunite"
                          name="unite"
                          ngModel="{{unite}}"
                          disabled
                          tabindex="8"
                        />
                      </div>
                      <div
                        class="col-lg-1"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="text"
                          class="form-control"
                          id="inputprix_referent"
                          name="prix_referent"
                          [(ngModel)]="prix_referent"
                          disabled
                          tabindex="8"
                        />
                      </div>
                      <div
                        class="col-lg-1"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="number"
                          class="form-control"
                          id="inputquantite"
                          placeholder="qtté"
                          name="quantite"
                          [(ngModel)]="quantite"
                          required
                          tabindex="9"
                        />
                      </div>
                      <div
                        class="col-lg-2"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="number"
                          class="form-control"
                          id="inputpu"
                          placeholder="PU"
                          name="PU"
                          [(ngModel)]="prixUnitaire"
                          required
                          tabindex="10"
                        />
                      </div>
                      <div
                        class="col-lg-1"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <button
                          type="submit"
                          class="btn btn-primary btn-md "
                          (click)="ajouterLaLigneDetail()"
                          [disabled]="detailcommandeForm.invalid"
                          tabindex="11"
                        >
                          <i class="fa fa-plus"></i>

                        </button>
                      </div>
                    </div>
                  </form>
                  <hr />
                  <div class="row" >
                    <div class="col-12 table-responsive">
                      <table class="table table-striped" >
                        <tbody>
                        <tr>
                          <th class="text-center">ID</th>
                          <th class="text-left">Désignation</th>
                          <th class="text-center">Quantité</th>
                          <th class="text-right">PU</th>
                          <th class="text-right">Total</th>
                          <th class="text-right">Actions</th>
                        </tr>
                        <tr
                          *ngFor="let detailCommande of commandeService.selectedCommande.articles; let i = index"
                        >
                          <td class="text-center">{{i+1}}</td>
                          <td class="text-left">
                            {{ detailCommande.article }}
                          </td>
                          <td class="text-center">
                            {{ detailCommande.quantite | number:'':'fr-FR' }}
                          </td>
                          <td class="text-right">
                            {{ detailCommande.prix_unitaire | number:'':'fr-FR' }}
                          </td>
                          <td class="text-right">
                            {{
                              detailCommande.prix_unitaire * detailCommande.quantite
                                  | number:'':'fr-FR'
                            }}
                          </td>
                          <td class="text-right">
                            <button  (click)="supprimerLaLigneDetail(detailCommande)"><i class="fa fa-trash"></i></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>



                  <div class="row">
                    <div class="col-lg-6">

                      <div class="example-container" *ngIf="commandeService.selectedCommande">

                        <mat-form-field>
                          <mat-select  [(ngModel)]="commandeService.selectedCommande.modepaiment_id"  [ngModelOptions]="{ standalone: true }"  placeholder="Mode de paiement" >
                            <mat-option *ngFor="let u of modepaiements" [value]="u.id">{{u.libellemodepaiement}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                    </div>

                    <div class="col-lg-6" *ngIf="commandeService">

                      <div class="table-responsive" *ngIf="commandeService.selectedCommande">
                        <table class="table">
                          <tr>
                            <th style="width:50%">TOTAL HT:</th>
                            <td> {{commandeService.totalSum(commandeService.selectedCommande.articles) | number:'':'fr-FR' }} FCFA</td>
                          </tr>
                          <tr>
                            <th>TVA</th>
                            <td>     {{commandeService.totalTVA(commandeService.selectedCommande.articles) | number:'':'fr-FR' }} FCFA</td>
                          </tr>
                          <tr>
                            <th>BIC </th>
                            <td>     {{commandeService.totalBIC(commandeService.selectedCommande.articles) | number:'':'fr-FR' }} FCFA</td>
                          </tr>
                          <tr>
                            <th>TOTAL GENERAL :</th>
                            <td>{{commandeService.totalTTC(commandeService.totalSum(commandeService.selectedCommande.articles), commandeService.totalTVA(commandeService.selectedCommande.articles), commandeService.totalBIC(commandeService.selectedCommande.articles)) | number:'':'fr-FR' }} FCFA</td>
                          </tr>
                        </table>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- </div>
              </div> -->


                <!-- /.box-body -->
                <div  class="box-footer clearfix" >

                  <div class="row">

                    <div class="col-lg-3">
                      <button type="button" class="btn btn-primary margin pull-right" (click)="goBack(stepper)">   <i class="fa fa-backward"></i>  </button>
                    </div>

                    <div class="col-lg-6"></div>

                    <div class="col-lg-3">
                      <button
                        (click)="modifierCommandeChantier()"
                        type="button"
                        class="btn bg-success margin pull-right"
                      >
                        <i class="fa fa-save"></i>
                        &nbsp; Enregistrer
                      </button>
                    </div>


                  </div>




                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </mat-step>

  </mat-horizontal-stepper>




</div>

