<!--<div class="container">-->
<!--  <h3 mat-dialog-title>Modifier info. maison</h3>-->

<!--  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">-->

<!--    <div class="form">-->
<!--      <mat-form-field color="accent">-->
<!--        <input matInput #input class="form-control" placeholder="Libelle maison" [(ngModel)]="data.libellemaison" name="libellemaison" required >-->
<!--        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <div class="form">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Choisir la section</mat-label>-->
<!--        <mat-select (selectionChange)="GetLotBySectionPrime($event.value)" name="section_id" [(ngModel)]="data.section_id" required>-->
<!--          <mat-option *ngFor="let ds of data['getallsections']"  value="{{ds.id}}">-->
<!--            {{ds.libellesection}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <div class="form">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Choisir le lot</mat-label>-->
<!--        <mat-select  name="lot_id"  [(ngModel)]="data.lot_id" required>-->
<!--          <mat-option *ngFor="let ds of data['getalllots']"  [value]="ds.id">-->
<!--            {{ds.libellelot}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <div class="form">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Choisir le type de maison</mat-label>-->
<!--        <mat-select  name="type_maison_id"  [(ngModel)]="data.type_maison_id" required>-->
<!--          <mat-option *ngFor="let ds of data['getalltypemaison']"  [value]="ds.id">-->
<!--            {{ds.libelletypemaison}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <div class="form">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Choisir le technicien</mat-label>-->
<!--        <mat-select  name="technicien_id"  [(ngModel)]="data.technicien_id" required>-->
<!--          <mat-option *ngFor="let ds of data['getalltechniciens']"  [value]="ds.id">-->
<!--            {{ds.name + " " + ds.prenomemploye}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <div class="form">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Choisir la société en charge</mat-label>-->
<!--        <mat-select  name="societe_id"  [(ngModel)]="data.societe_id" required>-->
<!--          <mat-option *ngFor="let ds of data['getallsocietes']"  [value]="ds.id">-->
<!--            {{ds.libellesociete}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    &lt;!&ndash;    <div class="form">&ndash;&gt;-->
<!--    <div class="example-container">-->
<!--      <mat-form-field>-->
<!--        <textarea matInput  name="description" [(ngModel)]="data.description"  placeholder="Description" ></textarea>-->
<!--        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <div mat-dialog-actions>-->
<!--      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Mis à jour</button>-->
<!--      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->



<div class="container">
  <h3 mat-dialog-title>Mis à jour d' une nouvelle maison</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="row">

      <div class="col-md-4">


        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input  placeholder="Libelle maison" [(ngModel)]="data.libellemaison" name="libellemaison" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input placeholder="Client" [(ngModel)]="data.client" name="client" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input  placeholder="Code virtuel" [(ngModel)]="data.codevirtuel" name="codevirtuel" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>


        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input placeholder="Superficie" [(ngModel)]="data.superficie" name="superficie" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>


      </div>


      <div class="col-md-4">


        <div class="form">
          <mat-form-field>
            <mat-label>Choisir le contoleur</mat-label>
            <mat-select  name="controleur_id"  [(ngModel)]="data.controleur_id" required>
              <mat-option *ngFor="let ds of data['getallcontroleurs']"  [value]="ds.id">
                {{ds.name + " " + ds.prenomemploye}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form">
          <mat-form-field>
            <mat-label>Choisir le type de maison</mat-label>
            <mat-select  name="type_maison_id"  [(ngModel)]="data.type_maison_id" required>
              <mat-option *ngFor="let ds of data['getalltypemaison']"  [value]="ds.id">
                {{ds.libelletypemaison}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field>
            <mat-label>Choisir le technicien</mat-label>
            <mat-select  name="technicien_id"  [(ngModel)]="data.technicien_id" required>
              <mat-option *ngFor="let ds of data['getalltechniciens']"  [value]="ds.id">
                {{ds.name + " " + ds.prenomemploye}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>



      <div class="col-md-4">


        <div class="form">
          <mat-form-field>
            <mat-label>Choisir la société en charge</mat-label>
            <mat-select  name="societe_id"  [(ngModel)]="data.societe_id" required>
              <mat-option *ngFor="let ds of data['getallsocietes']"   [value]="ds.id">
                {{ds.libellesociete}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form">
          <mat-form-field>
            <mat-label>Choisir la section</mat-label>
            <mat-select (selectionChange)="GetLotBySectionPrime($event.value)" name="section_id"   required>
              <mat-option *ngFor="let ds of data['getallsections']"  [value]="ds.id">
                {{ds.libellesection}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field>
            <mat-label>Choisir le lot</mat-label>
            <mat-select  name="lot_id"  [(ngModel)]="data.lot_id" required>
              <mat-option *ngFor="let ds of data['getalllots']"  [value]="ds.id">
                {{ds.libellelot}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>


    </div>



    <!--    <div class="form">-->
    <div class="example-container">
      <mat-form-field>
        <textarea matInput  name="description" [(ngModel)]="data.description"  placeholder="Description" ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <!--    </div>-->

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Mis à jour</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>
  </form>
</div>
