
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">{{firstlevel}}</a></li>
          <li class="breadcrumb-item"><a routerLink="/start/chantiers">{{thirdlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<section class="content">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title" *ngIf="denominationchantier">GESTION DES PRESTATAIRES - CHANTIER : <strong style="color: red;text-align: center;">{{denominationchantier}}</strong> </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted"><strong style="color: red; text-transform: uppercase;" *ngIf="tabtodisplay">{{tabtodisplay.libellelot}}</strong></span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted"><strong style="color: red; text-transform: uppercase;" *ngIf="tabtodisplay">{{tabtodisplay.libellesection}}</strong></span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted"><strong style="color: red; text-transform: uppercase;" *ngIf="tabtodisplay">{{tabtodisplay.libellemaison}}</strong></span>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-4">
              <button type="button" class="btn btn-block bg-gradient-primary" (click)="addNewPrestataire()">Ajouter un prestataire</button>
            </div>
            <div class="col-lg-6">
              <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher un prestataire">
              </div>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-12">

              <div class="post">

                <table mdbTable class="z-depth-1"  #tableEl="mdbTable">
                  <thead>
                  <tr>
                    <th  style="text-align: center" *ngFor="let head of headprestataire; let i = index "> {{head}} </th>
                  </tr>
                  </thead>

                  <tbody>

                  <tr *ngIf="totalprestaire === 0">
                    <td colspan="10" style="text-align: center">Aucune données disponible</td>
                  </tr>

                  <tr  *ngFor="let el of prestation | filter:searchText  | paginate: { itemsPerPage: count, currentPage: p } ; let i = index">

                    <td style="text-align: center;"> {{i+1}} </td>

                    <td style="text-align: center;"> {{el.prestataire[0].fonction[0].libelleFonction}} </td>

                    <td style="text-align: center;"><span class="badge badge-dark"> {{el.etape[0].libelleetape}} </span></td>

                    <td style="text-align: center;"> {{el.prestataire[0].prenom + " " + el.prestataire[0].nom }} </td>

                    <td style="text-align: center;">
                      <span class="badge badge-primary" *ngIf="el.prestataire[0].societe.length ==! 0"> {{el.prestataire[0].societe[0].libellesociete }}</span>
                      <span *ngIf="el.prestataire[0].societe.length == 0"> {{ " - " }}</span>
                    </td>

                    <td style="text-align: center;">
                      <span class="badge badge-info" *ngIf="el.prestataire[0].cnib"> {{el.prestataire[0].cnib}} </span>
                      <span *ngIf="!el.prestataire[0].cnib"> {{" - "}} </span>
                    </td>

                    <td style="text-align: center;"> {{el.datedebut  | date: "dd/MM/yyyy"}} </td>

                    <td style="text-align: center;"> {{el.datefin  | date: "dd/MM/yyyy"}} </td>

                    <td style="text-align: center;"><span class="badge badge-secondary">  {{el.typecontrat}}  </span></td>

                    <td style="text-align: center;">
                      <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px;" (click)="deletePrestation(i, el.id, el.prestataire_id, el.maison_id, el.etape_construction_id, el.datedebut, el.datefin, el.typecontrat, el.isCanceled)" >
                        <i class="fa fa-trash"></i>
                      </button>
                      <button style="font-size: 10px;margin-right: 2%;" (click)="startEditPrestation(i, el.id, el.prestataire_id, el.maison_id, el.etape_construction_id, el.datedebut, el.datefin, el.typecontrat, el.isCanceled)" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                      </button>
                    </td>

                  </tr>

                  </tbody>

                </table>


                <div class="card-footer clearfix">
                  <pagination-controls
                    (pageChange)="p = $event"
                    [nextLabel] = "nextLabel"
                    [previousLabel]="previousLabel"
                    [maxSize]="maxSize"
                    [directionLinks]="directionLinks"
                    [autoHide]="autoHide"
                    [responsive]="responsive"
                    [screenReaderPaginationLabel]="screenReaderPaginationLabel"
                    [screenReaderPageLabel]="screenReaderPageLabel"
                    [screenReaderCurrentLabel]="screenReaderCurrentLabel"
                  ></pagination-controls>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
