<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active"><a routerLink="/start/commandes">{{secondlevel}}</a></li>
          <li class="breadcrumb-item active">{{firstlevel}}</li>

        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>




<div class="container-fluid"  *ngIf="commandinsert">


  <mat-horizontal-stepper  #stepper>

    <mat-step label="Entête du bon de commande">

      <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Renseigner les informations du bon de commande</h3>
            </div>

            <form   class="form-horizontal">
              <div class="card-body">

                <div class="example-container">

                  <mat-form-field >
                    <mat-label >Date BC</mat-label>
                    <input  [value]="thedate" [(ngModel)]="commandinsert.date_BC" name="date_BC" matInput [matDatepicker]="myPicker1" placeholder="Date BC" >
                    <mat-datepicker-toggle  matSuffix [for]="myPicker1"></mat-datepicker-toggle>
                    <mat-datepicker #myPicker1></mat-datepicker>
                  </mat-form-field>


                  <!--            <mat-form-field>-->
                  <!--              <mat-label >Numéro BC</mat-label>-->
                  <!--              <input matInput type="text" [(ngModel)]="commandinsert.numero_BC"  name="numero_BC" [readonly]="true"  >-->
                  <!--            </mat-form-field>-->


                  <mat-form-field>
                    <mat-label >Numéro DA</mat-label>
                    <input matInput type="text" [(ngModel)]="commandinsert.numero_DA" name="numero_DA"   placeholder="Numéro DA" >
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label >Personne à contacter</mat-label>
                    <input matInput type="text" [(ngModel)]="commandinsert.personneacontacter" name="personneacontacter"   placeholder="EXAMPLE : IDRISSA/78787878" >
                  </mat-form-field>


                  <mat-form-field>
                    <mat-select  [(ngModel)]="commandinsert.fournisseur_id"  [ngModelOptions]="{ standalone: true }" placeholder="Choisir un fournisseur">
                      <mat-option *ngFor="let fournisseur of fournisseurService.listFournisseursnonblacklister"  [value]="fournisseur.id">{{fournisseur.raison_social}}</mat-option>
                    </mat-select>
                  </mat-form-field>


                  <mat-form-field >
                    <mat-label >Date CIBLE</mat-label>
                    <input  [value]="thedate" name="date_lvraison_prevue" [(ngModel)]="commandinsert.date_lvraison_prevue"  matInput [matDatepicker]="myPicker2" placeholder="Date CIBLE" >
                    <mat-datepicker-toggle  matSuffix [for]="myPicker2"></mat-datepicker-toggle>
                    <mat-datepicker #myPicker2></mat-datepicker>
                  </mat-form-field>

<!--                  <div class="row">-->
<!--                    <div class="col-lg-12">-->
<!--                      <mat-checkbox [(ngModel)]="commandinsert.is_prix_ttc" name="is_prix_ttc"   >Enregistrer les prix en TTC!</mat-checkbox>-->
<!--                    </div>-->
<!--                  </div>-->

                  &nbsp;

<!--                  <div class="row">-->
<!--                    <div class="col-lg-8">-->
<!--                      <mat-checkbox   [(ngModel)]="commandinsert.is_bic"  name="is_bic" (change)="GetIsBIC($event)" >Appliquez le BIC!</mat-checkbox>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4" *ngIf="statebic">-->
<!--                      <select class="form-control"  [(ngModel)]="commandinsert.valueofbic" name="valueofbic" style="text-align: center;">-->
<!--                        <option *ngFor ="let bic of bicvalue" value="{{bic}}"> {{bic + " % "}} </option>-->
<!--                      </select>-->
<!--                    </div>-->

<!--                  </div>-->

                </div>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="button" class="btn bg-orange margin  pull-right" (click)="ajouterLesDetails(stepper)">
                  <i class="fa fa-list-ol"></i> &nbsp; Ajouter les détails
                </button>
              </div>
              <!-- /.card-footer -->
            </form>

          </div>
          <!-- /.box-body -->
        </div>
        <div class="col-lg-2"></div>

      </div>

    </mat-step>


    <mat-step label="Détails du bon de commande">


      <div *ngIf="displayDetails" style="margin-top: 8px;">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Détails du bon de commande</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- /.box-header -->
                <div class="box-body">
                  <form #detailcommandeForm="ngForm">
                    <div class="row">
                      <div class="col-lg-4" style="margin-right: 1px; padding-right: 1px">
                        <select
                          name="article"
                          class="form-control "
                          style="width: 100%;"
                          tabindex="-1"
                          aria-hidden="true"
                          [(ngModel)]="articleService.selectedArticle"
                          required
                          (change)="selectionnerArticle()"
                          tabindex="7"
                        >
                          <!-- <option selected hidden>Sélectionner un article</option> -->
                          <option value="-1" disabled="true" [selected]="true"
                          >Sélectionner un article</option
                          >

                          <!-- <option [ngValue]="null">Sélectionner un article</option> -->
                          <option
                            [ngValue]="article"
                            *ngFor="let article of articleService.listArticles"
                          >{{ article.libelle_article }}</option
                          >
                        </select>
                      </div>
                      <div
                        class="col-lg-2"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="text"
                          class="form-control"
                          id="inputunite"
                          name="unite"
                          ngModel="{{unite}}"
                          disabled
                          tabindex="8"
                        />
                      </div>
                      <div
                        class="col-lg-1"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="text"
                          class="form-control"
                          id="inputprix_referent"
                          name="prix_referent"
                          [(ngModel)]="prix_referent"
                          disabled
                          tabindex="8"
                        />
                      </div>
                      <div
                        class="col-lg-1"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="number"
                          class="form-control"
                          id="inputquantite"
                          placeholder="qtté"
                          name="quantite"
                          [(ngModel)]="quantite"
                          required
                          tabindex="9"
                        />
                      </div>
                      <div
                        class="col-lg-2"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <input
                          type="number"
                          class="form-control"
                          id="inputpu"
                          placeholder="PU"
                          name="PU"
                          [(ngModel)]="prixUnitaire"
                          required
                          tabindex="10"
                        />
                      </div>
                      <div
                        class="col-lg-1"
                        style="margin-left: 1px; padding-left: 1px; margin-right: 1px; padding-right: 1px"
                      >
                        <button
                          type="submit"
                          class="btn btn-primary btn-md "
                          (click)="ajouterLaLigneDetail()"
                          [disabled]="detailcommandeForm.invalid"
                          tabindex="11"
                        >
                          <i class="fa fa-plus"></i>

                        </button>
                      </div>
                    </div>
                  </form>
                  <hr />
                  <div class="row" *ngIf="bLigneDetailAjoutee">
                    <div class="col-12 table-responsive">
                      <table class="table table-striped" *ngIf="commandinsert.articles">
                        <tbody>
                        <tr>
                          <th class="text-center">ID</th>
                          <th class="text-left">Désignation</th>
                          <th class="text-center">Quantité</th>
                          <th class="text-right">PU</th>
                          <th class="text-right">Total</th>
                          <th class="text-right">Actions</th>
                        </tr>
                        <tr
                          *ngFor="let detailCommande of commandinsert.articles; let i = index"
                        >
                          <td class="text-center">{{i+1}}</td>
                          <td class="text-left">
                            {{ detailCommande.article }}
                          </td>
                          <td class="text-center">
                            {{ detailCommande.quantite | number:'':'fr-FR' }}
                          </td>
                          <td class="text-right">
                            {{ detailCommande.prix_unitaire | number:'':'fr-FR' }}
                          </td>
                          <td class="text-right">
                            {{
                              detailCommande.prix_unitaire * detailCommande.quantite
                                  | number:'':'fr-FR'
                            }}
                          </td>
                          <td class="text-right">
                            <button  (click)="supprimerLaLigneDetail(detailCommande)"><i class="fa fa-trash"></i></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>



                    <!-- <div _ngcontent-c7="" class="col-xs-4">
                      <div _ngcontent-c7="" class="table-responsive"> -->
                    <!--                    <table _ngcontent-c7="" class="table">-->
                    <!--                      <tbody _ngcontent-c7="">-->
                    <!--                      <tr _ngcontent-c7="">-->
                    <!--                        <th _ngcontent-c7="" style="width:50%; text-align: right">Total HT:</th>-->
                    <!--                        <td _ngcontent-c7="" class="text-right">-->
                    <!--                          {{-->
                    <!--                          commandeService.totalSum(-->
                    <!--                            commandinsert.articles-->
                    <!--                          ) | seprator-->
                    <!--                          }}-->
                    <!--                          FCFA-->
                    <!--                        </td>-->
                    <!--                      </tr>-->
                    <!--                      <tr _ngcontent-c7="">-->
                    <!--                        <th _ngcontent-c7="">TVA</th>-->
                    <!--                        <td _ngcontent-c7="" class="text-right">-->
                    <!--                          {{-->
                    <!--                          commandeService.totalTVA(-->
                    <!--                            commandeService.totalSum(-->
                    <!--                              commandinsert.articles-->
                    <!--                            ),-->
                    <!--                            commandinsert.is_prix_ttc-->
                    <!--                          ) | seprator-->
                    <!--                          }}-->
                    <!--                          FCFA-->
                    <!--                        </td>-->
                    <!--                      </tr>-->
                    <!--                      &lt;!&ndash; <tr _ngcontent-c7="">-->
                    <!--                        <th _ngcontent-c7="">Shipping:</th>-->
                    <!--                        <td _ngcontent-c7="">$5.80</td>-->
                    <!--                      </tr> &ndash;&gt;-->
                    <!--                      <tr _ngcontent-c7="">-->
                    <!--                        <th _ngcontent-c7="">Total TTC:</th>-->
                    <!--                        <td _ngcontent-c7="" class="text-right">-->
                    <!--                          {{-->
                    <!--                          commandeService.totalTTC(-->
                    <!--                            commandeService.totalSum(-->
                    <!--                              commandinsert.articles-->
                    <!--                            ),-->
                    <!--                            commandinsert.is_prix_ttc-->
                    <!--                          ) | seprator-->
                    <!--                          }}-->
                    <!--                          FCFA-->
                    <!--                        </td>-->
                    <!--                      </tr>-->

                    <!--                      </tbody>-->
                    <!--                    </table>-->
                  </div>



                  <div class="row" *ngIf="bLigneDetailAjoutee">
                    <div class="col-lg-6">

                      <div class="example-container">

                        <mat-form-field>
                          <mat-select  [(ngModel)]="commandinsert.modepaiment_id"  [ngModelOptions]="{ standalone: true }"  placeholder="Mode de paiement" >
                            <mat-option *ngFor="let u of modepaiements" [value]="u.id">{{u.libellemodepaiement}}</mat-option>
                          </mat-select>
                        </mat-form-field>

<!--                        <mat-form-field>-->
<!--                          <textarea matInput [(ngModel)]="commandinsert.mode_paiement"  name="mode_paiement" placeholder="Mode paiement"></textarea>-->
<!--                        </mat-form-field>-->

                      </div>

                    </div>

                    <div class="col-lg-6">

                      <div class="table-responsive" *ngIf="commandeService" style="text-align: right">
                        <table class="table">
                          <tr>
                            <th style="width:50%">TOTAL HT:</th>
                            <td> {{commandeService.totalSum(commandinsert.articles) | number:'':'fr-FR' }} FCFA</td>
                          </tr>
                          <tr>
                            <th>TVA</th>
                            <td>     {{commandeService.totalTVA(commandinsert.articles) | number:'':'fr-FR' }} FCFA</td>
                          </tr>

                          <tr>
                            <th>BIC</th>
                            <td>     {{commandeService.totalBIC(commandinsert.articles) | number:'':'fr-FR' }} FCFA</td>
                          </tr>
                          <tr>
                            <th>TOTAL GENERAL :</th>
                            <td>{{commandeService.totalTTC(commandeService.totalSum(commandinsert.articles), commandeService.totalTVA(commandinsert.articles) , commandeService.totalBIC(commandinsert.articles)) | number:'':'fr-FR' }} FCFA</td>
                          </tr>
                        </table>
                      </div>
                    </div>


                  </div>


                </div>
                <!-- </div>
              </div> -->


                <!-- /.box-body -->
                <div class="box-footer clearfix" *ngIf="bLigneDetailAjoutee">



                  <div class="row">

                    <div class="col-lg-3">
                      <button type="button" class="btn btn-primary margin pull-right" (click)="goBack(stepper)">   <i class="fa fa-backward"></i>  </button>
                    </div>

                    <div class="col-lg-6"></div>

                    <div class="col-lg-3" style="text-align: right;">
                      <button
                        type="button"
                        class="btn bg-success margin pull-right"
                        (click)="enregistrerCommandeChantier()"
                      >
                        <i class="fa fa-save"></i>
                        &nbsp; Enregistrer
                      </button>
                    </div>


                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</div>

