
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des audits</h3>
  </div>

  <div class="row" style="margin-top: 10px;">

    <div class="col-md-2" style="margin-top: 10px;margin-left: 20px;">
      <h4>Recherher</h4>
    </div>
    <div class="col-md-3">
      <input type="text"  [(ngModel)]="searchText"  id="search"  class="form-control" mdbInput/>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table   mdbTable class="z-depth-1"  #tableEl="mdbTable" striped="true" >
      <thead>
      <tr>
        <th style="text-align: center" *ngFor="let head of headElements ; let i = index"> {{head}} </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="totalauditing === 0">
        <td colspan="10" style="text-align: center">Aucune données disponible</td>
      </tr>

      <tr *ngFor="let el of elements; let i = index">
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{i+1}}</td>
        <!--        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.codeemploye}}</td>-->
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.user.name}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.user.email}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.ip_address}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >
          <label *ngIf="el.event === 'deleted'" class="badge bg-blue"> Suppression </label>
          <label *ngIf="el.event === 'updated'" class="badge bg-blue"> Mis à jour </label>
          <label *ngIf="el.event === 'created'" class="badge bg-blue"> Ajout </label>
        </td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.url}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.user_agent}}</td>

        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.old_values}}</td>

        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.new_values}}</td>

        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center" >{{el.email}}</td>
        <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="text-align: center">
<!--          <button class="btn btn-danger" style="margin-right: 2%;font-size: 10px"-->
<!--                  mwlConfirmationPopover-->
<!--                  [popoverTitle]='popoverTitle'-->
<!--                  [popoverMessage]="popoverMessage"-->
<!--                  placement="left"-->
<!--                  (confirm)="deleteEmploye(el)"-->
<!--                  (cancel)="cancelClicked=true">-->
<!--            <i class="fa fa-trash"></i>-->
<!--          </button>-->
<!--          <button (click)="editEmploye(el)" style="font-size: 10px" class="btn btn-warning">-->
<!--            <i class="fa fa-edit"></i>-->
<!--          </button>-->
        </td>
      </tr>

      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="10">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
