
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{firstlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/fournisseurs">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="row">

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-2"></div>


      <div class="col-lg-8">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;"> <strong >AJOUT D'UN ARTICLE</strong></h3>
            </div>

            <div class="card-body">

              <div class="row">

                <div class="col-lg-12">

                  <div class="example-container">

                    <mat-form-field>
                      <mat-label >Reference</mat-label>
                      <input matInput formControlName="reference"   name="reference" >
                    </mat-form-field>

                    &nbsp;

                    <mat-form-field>
                      <mat-label >Libellé article</mat-label>
                      <input matInput formControlName="libelle_article"   name="libelle_article" >
                    </mat-form-field>


                    <mat-form-field>
                      <mat-label >Prix referent</mat-label>
                      <input matInput formControlName="prix_referent"   name="prix_referent" >
                    </mat-form-field>

                    <mat-form-field>
                      <mat-select  formControlName="unite_mesure_id" name="unite_mesure_id"  placeholder="Unité de mesure" >
                        <mat-option *ngFor="let u of unitemesure" value="{{u.id}}">{{u.code}}</mat-option>
                      </mat-select>
                    </mat-form-field>


                  </div>

                </div>

              </div>

              <div class="example-container">

                <mat-form-field>
                  <textarea matInput formControlName="description" placeholder="description"></textarea>
                </mat-form-field>

              </div>

              &nbsp;

              <div class="row">
                <div class="col-lg-12">
                  <mat-checkbox formControlName="is_tva" name="is_tva" >Appliqué la TVA ?</mat-checkbox>
                </div>
              </div>

              &nbsp;

              <div class="row">
                <div class="col-lg-8">
                  <mat-checkbox  formControlName="is_bic"  name="is_bic" (change)="GetIsBIC($event)" >Appliquez le BIC!</mat-checkbox>
                </div>

                <div class="col-lg-4" *ngIf="statebic">
                  <select class="form-control"  formControlName="valueofbic" name="valueofbic" style="text-align: center;">
                    <option *ngFor ="let bic of bicvalue"  [value]="bic"> {{bic + " % "}} </option>
                  </select>
                </div>

              </div>


            </div>



            <div class="card-footer">
              <button routerLink="/start/articles" class="btn btn-warning" style="margin-right: 8px;">Annuler</button>

              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="col-lg-2"></div>

  </div>



</div>
