<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{secondlevel}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/start/dashboard">{{firstlevel}}</a></li>
          <li class="breadcrumb-item active">{{secondlevel}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des besoins journaliers</h3>
  </div>

  <div class="row" style="margin-top: 10px;">

    <div class="col-md-2" style="margin-top: 10px;margin-left: 20px;">
      <h4>Rechercher</h4>
    </div>
    <div class="col-md-3">
      <input type="text"    [(ngModel)]="searchText"  id="search"  class="form-control" mdbInput/>
    </div>
    <div class="col-md-3" style="float: right;color: white;"> <a type="button" class="btn btn-info" routerLink="/start/ajouter-besoinjournalier">besoin journalier <i class="fa fa-plus"></i></a></div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table   mdbTable class="z-depth-1"  #tableEl="mdbTable" striped="true"  >
      <thead>
      <tr>
        <th  style="text-align: center" *ngFor="let head of headElements ; let i = index"> {{head}} </th>
      </tr>
      </thead>
      <tbody>

      <tr *ngIf="totalbesoinjournalier === 0">
        <td colspan="7" style="text-align: center">Aucune données disponible</td>
      </tr>

      <tr  *ngFor="let el of elements; let i = index">
        <td style="text-align: center"  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >{{i+1}}</td>
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.cahierjournalier}}</td>
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"> <label class="badge badge-info">  {{el.typebesoin}} </label></td>
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.dateBJ | date: "dd/MM/yyyy H:mm"}}</td>
        <td style="text-align: center" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">

          <button target="_blank" style="font-size: 10px;margin-right: 1%;"  class="btn btn-warning" (click)="voirdetailbesoinJournalier(el.id, el.typebesoin)"  >
            <i class="fa fa-eye"></i>
          </button>


          <ng-template [ngxPermissionsOnly]="['ADMINISTRATEUR']">
            <button  style="font-size: 10px;margin-right: 1%;"  class="btn btn-primary"  (click)="ModifierBesoinJournalier(el.id, el.typebesoin)"  >
              <i class="fa fa-edit"></i>
            </button>
          </ng-template>

<!--          <button target="_blank" style="font-size: 10px;margin-right: 1%;"  class="btn btn-info" (click)="effectuerunenlevement(el.id)"  >-->
<!--            <i class="fas fa-dolly-flatbed"></i>-->
<!--          </button>-->

          <button style="font-size: 10px;text-align: center"  class="btn btn-dark"  (click)="voirdetailBesoinForeachHouseOrPrefat(el.id, el.cahierjournalier, el.dateBJ, el.nomtechnicien, el.typebesoin)" >
            <i class="fas fa-info"></i> Détails
          </button>

        </td>
      </tr>


      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="8">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
